<% include layout/header %>
<style>
  .banner a:hover {
    color: #DDD;
  }
</style>
<div>
  <span style="font-size:30px;">本班同學</span>
  <%temp = 0%>
  <%users.forEach(function(userss){%>
  <%if(students[temp].studentID == user._id && students[temp].permission[1] == "A"){%>
  <button class="btn btn-primary btn-sm waitcheck" style="float:right">待審核名單</button>
  <%}%>
  <%temp++%>
  <%})%>
  <%if(classinfo.teacher == user._id){%>
  <button class="btn btn-primary btn-sm waitcheck" style="float:right">待審核名單</button>
  <%}%>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        <%temp = 0%>
        <%users.forEach(function(userss){%>
        <%if(students[temp].studentID == user._id && students[temp].permission[1] == "A"){%>
        <center>
          <button class="btn btn-danger btn-sm" onclick="deleteclick()">刪除</button>
        </center>
        <%}%>
        <%temp++%>
        <%})%>
        <%if(classinfo.teacher == user._id){%>
        <center>
          <button class="btn btn-danger btn-sm" onclick="deleteclick()">刪除</button>
        </center>
        <%}%>
      </th>
      <th class="text-center" scope="col">姓名</th>
      <th class="text-center" scope="col">科系</th>
      <th class="text-center" scope="col">學號</th>
      <th class="text-center" scope="col">信箱</th>
      <th class="text-center" scope="col">個人網頁</th>
    </tr>
  </thead>
  <tbody>
    <%temp = 0%>
    <%users.forEach(function(user){%>
    <%if(students[temp].permission !='00000'){%>
    <tr>
      <td class="text-center" style="width:120px;">
          <div class="text-danger" id="delStudent<%=temp%>" style="padding:8px">
              <input type="checkbox" value="<%=students[temp].studentID%>">
          </div>
      </td>
      <td class="text-center">
        <%=user.name%>
      </td>
      <td class="text-center">
        <%=user.department%>
      </td>
      <td class="text-center">
        <%=user.studentid%>
      </td>
      <td class="text-center">
        <a href="mailto:<%=user.email%>">電子信箱Email</a>
      </td>
      <td class="text-center">
        <a href="/class/<%=classID%>/showClassmateInfo/<%=user._id%>">個人網頁Personal WebPage</a>
      </td>
    </tr>
    <%}%>
    <%temp++%>
    <%})%>
  </tbody>
</table>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script>
  function deleteclick() {
      var del = [];
      $("input[type=checkbox]:checked").each(function () {
          del.push($(this).val());
      });
      console.log(del.length);
      if (del.length == 0) {
          alert('勾選學生後才能進行刪除');
      } else {
          result = window.confirm("你確定刪除這些學生嗎？");
          if (result == true) {
            window.location = "/class/deleteStudent/" + del + "/unit/<%=classID%>"
          } else {}
      }

  }
</script>
<script>
  //到待審核頁面
  $(document).ready(function () {
    $(".waitcheck").click(function () {
      window.location = "/class/showStudentApproval/<%=classID%>";
    })
  });
</script>

<% include layout/footer %>
