<% include layout/header %>
<script src="https://cdn.ckeditor.com/4.11.2/standard-all/ckeditor.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

<style>
    .replyInput{
        height: 100%;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .replyInput:focus{
        outline: none;
        border-bottom: 2px solid black;
        animation-name: showCommentField;
        animation-duration: 0.7s;
    }
    @keyframes showCommentField {
        from {border-bottom: 2px solid rgb(211, 206, 206);}
        to {border-bottom: 2px solid black;}
    }
</style>
<div class="container  p-4">
    <div class="row">
        <div class="col-9">
            <div id="mian" class="bg-white" style="padding-top: 50px;padding-bottom: 50px;">
                <h1 id="Title">
                    <%=article.title%>
                </h1>
                <div class="row">
                    <div class="col">
                        <span id="PostDate" class="text-secondary">

                        </span>
                    </div>
                    <div class="col">
                        <span id="tags" class="text-warning"></span>
                    </div>

                </div>
                <br>
                <p style="padding-bottom: 1px">點擊文章來展開 <i class="fas fa-arrow-circle-down"></i>
                </p>
                <textarea style="display: none" id="hidedata">
                    <%=article.body%>
                </textarea>
                <p id="Detail">
                    <%=article.body%>
                </p>
                <br>
                <button id="likeBtn" class="btn btn-primary">Like</button>
                <span id="likenumber">0</span>
                <div class="float-right">
                    <%if(user){%>
                    <%if(user.id == article.author_id){%>
                    <a href="/articles/edit/<%=article._id%>/inClass/<%=belongclass%>" class="btn btn-success">Edit</a>
                    <a href="#" class="btn btn-danger delete-article" data-id="<%=article._id%>" data-classid="<%=belongclass%>">Delete</a>
                    <%}%>
                    <%}%>
                </div>


            </div>
            <div id="relate" class="bg-white mt-4" style="padding: 50px;">
                <h3 class="text-secondary">相關文章</h3>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="reply" class="bg-white mt-4" style="padding: 50px;">
                <h3 class="text-secondary">回覆</h3>
                <br>
                <div class="row" style="height: 50px">
                    <div class="col-1">
                        <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-11">
                        <input type="text" id="replyInput" class="replyInput">
                    </div>
                </div>
                <br>
                <div class="row" style="height: auto;display: none;" id="commentDiv">
                    <div class="col">
                        <a class="btn btn-primary" style="float: right;color: white;" id="submitComment">留言</a>
                        <a class="btn " style="float: right;margin-right: 1em;border: 1px solid black;border-radius: 3px">取消</a>
                    </div>
                </div>
                <br>

                <%comments.forEach(function(comment){%>
                <div class="row" style="margin-top: 20px;">
                    <%if(comments.length == 0){%>
                    <div class="col">
                        <h5 style="text-align: center">還沒有評論喔！快來留下你對這篇教材的想法吧～～</h5>
                    </div>
                    <%}else{%>

                    <div class="col">
                        <li style="width: 100%;list-style: none;margin-bottom: 20px;">
                            <div class="row">
                                <div class="col-1">
                                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid"
                                        alt="Responsive image">
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <%if(comment.userID == classinfo.teacher){%>
                                        <h5 style="margin-right: 10px;color: rgb(101, 119, 68)">
                                            <%=comment.userName%>老師回復：
                                        </h5>
                                        <%}else{%>
                                        <h5 style="margin-right: 10px;">
                                            <%=comment.userName%>
                                        </h5>
                                        <%}%>

                                        <p>
                                            <%=comment.commentTime%>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p style="width: 100%;word-wrap:break-word;padding-right: 5px;">
                                            <%=comment.body%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <%}%>
                </div>
                <%})%>


            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>
                <div class="col">
                    <h5 id="poster">
                        <%=author%>
                    </h5>
                    <a href="#" class="badge badge-primary">個人網頁</a>
                </div>
            </div>

            <div class="row pt-1">
                <div class="col">
                    <small id="posterIntroduction" class="text-secondary"></small>
                </div>

            </div>
        </div>
    </div>


</div>


<script>
    let hidedata = document.getElementById('hidedata');
    CKEDITOR.replace('Detail', {
        height: 600,
        on: {
            instanceReady: function (evt) {
                // Hide the editor top bar.
                document.getElementById('cke_1_top').style.display = 'none';
            }
        },
        extraPlugins: 'autogrow',
        autoGrow_minHeight: 600,
        autoGrow_bottomSpace: 50,
        removePlugins: 'resize'
    });
    var text = hidedata.innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;nbsp;/g, '');
    CKEDITOR.instances.Detail.setData(text);

    CKEDITOR.on('instanceReady', function (ev) {
        editor = ev.editor;
        toggleReadOnly(true);
    });

    function toggleReadOnly(isReadOnly) {
        // Change the read-only state of the editor.
        // https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.html#method-setReadOnly
        editor.setReadOnly(isReadOnly);
    }
    window.onload = function () {
        $('.delete-article').on('click', function (e) {
            $target = $(e.target);
            const id = $target.attr('data-id');
            const classid = $target.attr('data-classid');
            $.ajax({
                type: 'DELETE',
                url: '/articles/' + id,
                success: function (response) {
                    alert('Deleting Article');
                    window.location.href = '/articles/inClass/' + classid;
                },
                error: function (err) {
                    console.log(err);
                }
            });
        })


        let replyInput = document.getElementById('replyInput');
        let submitComment = document.getElementById('submitComment');
        if (replyInput.value == "") {
            submitComment.className += "btn btn-primary disabled"
        }
        replyInput.oninput = function () {
            if (replyInput.value == "") {
                submitComment.className += "btn btn-primary disabled"
            } else {
                submitComment.className = "btn btn-primary"
            }
        }
        replyInput.onfocus = function () {

            let commentDiv = document.getElementById('commentDiv');
            commentDiv.style.cssText = "display:block";
        }

        submitComment.onclick = function () {
            let replyInput = document.getElementById('replyInput');
            window.location = "/SDC/user/<%=user._id%>/comment/article/<%=article._id%>/body/" + replyInput.value +
                '/inClass/<%=article.belongClass%>';
        }

    }
</script>
<!--  -->



<% include layout/footer %>