<% include layout/header %>
<script src="/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

<style>
    hr{
      margin-top:0px;
    }
    .replyInput{
        height: 100%;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .replyInput:focus{
        outline: none;
        border-bottom: 2px solid black;
        animation-name: showCommentField;
        animation-duration: 0.7s;
    }
    #Detail img{
        width: 100%;
    }
    @keyframes showCommentField {
        from {border-bottom: 2px solid rgb(211, 206, 206);}
        to {border-bottom: 2px solid black;}
    }
</style>
<div class="container  p-4 ">
    <div class="row">
        <div class="col bg-white">
            <div id="mian" class="bg-white" style="padding-bottom: 50px;">
                <div class="row">
                    <div class="col">
                        <h3 id="Title">
                            <%=article.title%>
                        </h3>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <a href="/class/<%=classinfo._id%>/showClassmateInfo/<%=author._id%>" style="color: rgb(70, 157, 227)"
                            class="mr-2">
                            <%=author.name%>
                        </a>
                        <%if(typeof(article.postTime)!=undefined){%>
                        <span>
                            <%let postDate=article.postTime.split(" ")[0]%>
                            <%let postTime=article.postTime.split(" ")[1]%>
                            <%postDate=postDate.split("/")[2]+"/"+postDate.split("/")[1]+"/"+postDate.split("/")[0]%>
                            <%article.postTime = postDate+" "+postTime%>
                            <%=article.postTime%>
                        </span>
                        <%}%>

                    </div>
                </div>
                <br>
                <textarea style="display: none" id="hidedata">
                    <%=article.body%>
                </textarea>
                <div id="Detail">

                </div>
                <br>
                <!-- <button id="likeBtn" class="btn btn-primary">Like</button> -->
                <!--<span id="likenumber">0</span> -->
                <div class="float-right">
                    <%if(user){%>
                    <%if(user.id == article.author_id){%>
                    <a href="/articles/edit/<%=article._id%>/inClass/<%=belongclass%>" class="btn btn-success">編輯文章</a>
                    <a href="#" class="btn btn-danger delete-article" data-id="<%=article._id%>" data-classid="<%=belongclass%>">刪除文章</a>
                    <%}%>
                    <%}%>
                </div>


            </div>

            <div id="reply" class="bg-white mt-4" style="padding-top: 50px;">
                <h3 class="text-secondary">回覆</h3>
                <br>
                <div class="row" style="height: 50px">
                    <div class="col-1">
                        <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-11">
                        <input type="text" id="replyInput" class="replyInput">
                    </div>
                </div>
                <br>
                <div class="row" style="height: auto;display: none;" id="commentDiv">
                    <div class="col">
                        <a class="btn btn-primary" style="float: right;color: white;" id="submitComment">留言</a>
                        <a class="btn " style="float: right;margin-right: 1em;border: 1px solid black;border-radius: 3px">取消</a>
                    </div>
                </div>
                <br>

                <%comments.forEach(function(comment){%>
                <div class="row" style="margin-top: 20px;">
                    <%if(comments.length == 0){%>
                    <div class="col">
                        <h5 style="text-align: center">還沒有評論喔！快來留下你對這篇教材的想法吧～～</h5>
                    </div>
                    <%}else{%>

                    <div class="col">
                        <li style="width: 100%;list-style: none;margin-bottom: 20px;">
                            <div class="row">
                                <div class="col-1">
                                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                                </div>
                                <div class="col-11">
                                    <div class="" style="display: flex;justify-content: space-between">
                                        <div style="display: flex">
                                            <%if(comment.userID == classinfo.teacher){%>
                                            <h5 style="margin-right: 10px;color: rgb(101, 119, 68)">
                                                <%users.forEach(function(userss){%>
                                                  <%if(userss.username == comment.userName){%>
                                                    <%=userss.name%>老師回復：
                                                  <%}%>
                                                <%})%>
                                            </h5>
                                            <%}else{%>
                                            <h5 style="margin-right: 10px;">
                                                <%users.forEach(function(userss){%>
                                                  <%if(userss.username == comment.userName){%>
                                                    <%=userss.name%>
                                                  <%}%>
                                                <%})%>
                                            </h5>
                                            <%}%>
                                            <p>
                                                <%=comment.commentTime%>
                                            </p>
                                        </div>
                                        <%if(comment.userID == user._id || user._id  == classinfo.teacher){%>
                                        <div >
                                            <button type="button" class="close" onclick="deleteComment('<%=comment._id%>')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <%}%>
                                    </div>
                                    <div class="">
                                        <p style="width: 100%;word-wrap:break-word;padding-right: 5px;">
                                            <%=comment.body%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <%}%>
                </div>
                <%})%>


            </div>

        </div>

    </div>

</div>


<script>
    let hidedata = document.getElementById('hidedata');

    // CKEDITOR.replace('Detail', {
    //     height: 600,
    //     on: {
    //         instanceReady: function (evt) {
    //             // Hide the editor top bar.
    //             document.getElementById('cke_1_top').style.display = 'none';
    //         }
    //     },
    //     readOnly: true,
    //     removePlugins: 'resize'
    // });
    // var text = hidedata.innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;nbsp;/g, '');
    // CKEDITOR.instances.Detail.setData(text);

    // CKEDITOR.on('instanceReady', function (ev) {
    //     editor = ev.editor;
    //     toggleReadOnly(true);
    // });

    // function toggleReadOnly(isReadOnly) {
    //     // Change the read-only state of the editor.
    //     // https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_editor.html#method-setReadOnly
    //     editor.setReadOnly(isReadOnly);
    // }
    window.onload = function () {
        $('.delete-article').on('click', function (e) {
            $target = $(e.target);
            const id = $target.attr('data-id');
            const classid = $target.attr('data-classid');
            $.ajax({
                type: 'DELETE',
                url: '/articles/' + id,
                success: function (response) {
                    alert('Deleting Article');
                    window.location.href = '/articles/inClass/' + classid;
                },
                error: function (err) {
                    console.log(err);
                }
            });
        })
        let hidedata = document.getElementById('hidedata');
        let text = hidedata.innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;nbsp;/g, '');
        console.log(text)
        document.getElementById('Detail').innerHTML = text

        let replyInput = document.getElementById('replyInput');
        let submitComment = document.getElementById('submitComment');
        if (replyInput.value == "") {
            submitComment.className += "btn btn-primary disabled"
        }
        replyInput.oninput = function () {
            if (replyInput.value == "") {
                submitComment.className += "btn btn-primary disabled"
            } else {
                submitComment.className = "btn btn-primary"
            }
        }
        replyInput.onfocus = function () {

            let commentDiv = document.getElementById('commentDiv');
            commentDiv.style.cssText = "display:block";
        }

        submitComment.onclick = function () {
            let replyInput = document.getElementById('replyInput');
            window.location = "/SDC/user/<%=user._id%>/comment/article/<%=article._id%>/body/" + replyInput.value +
                '/inClass/<%=article.belongClass%>';
        }

    }

    let deleteComment = function(commentID){
        //console.log(commentID);
        if (window.confirm('您確定要刪除嗎？') == true) {
            window.location = "/SDC/deleteArticleComment/<%=article._id%>/"+commentID+"/<%=classinfo._id%>";
        }else{

        }
    }
</script>
<!--  -->



<% include layout/footer %>
