<% include layout/header %>
<style>
    hr{
      margin-top:0.5rem;
    }
    .unit:link {
        text-decoration: none;
    }
    .unit:visited {
    text-decoration: none;
    }
    .unit:hover {
    text-decoration: underline;
    color: cornflowerblue
    }
    .unit:active {
    text-decoration: underline;
    }
    .box {
    background:#ccc;
    position:relative;
    overflow:hidden;
    margin: 0px;
    }
    .box:after {
        padding-top: 56.25%;
        content:"";
        display: block;
    }
    .img {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        max-width:100%;
        margin:auto;
    }
    .ellipsisText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .scrollText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .myinput {
        width: 32%;
        padding: .375rem .25rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        display: inline;
    }
    .fas:hover{
        cursor: pointer;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.css">
<div class="row">
    <div class="col">
        <h3 style="display: inline;">課程資訊</h3>
        <button class="btn btn-primary btn-sm" style="float:right" data-toggle="modal" data-target="#QRCode">QRCode</button>
        <div class="modal fade" id="QRCode" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">QRCODE</h5>
                </div>
                <div class="modal-body" style="padding: 2.3rem;">
                  <center>
                  <div id="qrcode"></div>
                  </center>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<hr>
<%let thisAssisten = null%>
<%for(let i = 0;i < thisClassStudents.length;i++){%>
<%if(thisClassStudents[i].studentID==user._id){%>
<%thisAssisten = thisClassStudents[i] %>
<%}%>
<%}%>
<div class="row">
    <div class="col-lg-9 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row container m-0 p-0 mb-2">
                    <div id="titleDIV" style="display: flex;justify-content:start;height: 36px;" class="w-100" title="<%=classinfo.className%>">
                        <h5 class="scrollText" id="title" style="display: inline-block;">
                            課程名稱：
                            <%=classinfo.className%>
                        </h5>
                        <%if(user._id == classinfo.teacher){%>
                        <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                            onclick="updateClassInfo('title')"></i>
                        <%}%>

                        <%for(let i = 0;i < thisClassStudents.length;i++){%>
                        <%if(thisClassStudents[i].studentID==user._id){%>
                        <%if(thisClassStudents[i].permission[3]=='A'){%>
                        <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                            onclick="updateClassInfo('title')"></i>
                        <%}%>
                        <%}%>
                        <%}%>
                    </div>
                </div>
                <%if(img){%>
                <%if(img.isImage) {%>
                <div class="mb-3" style="height: 14.5rem;background: black;overflow: hidden;display: flex;justify-content: center;flex-direction: column;">
                    <div class="row box">
                        <img class="card-img-top bg-light w-100 img" src="/class/image/<%=img.filename%>" style="border: 1px solid lightslategray;height: 15rem;overflow: hidden;">
                        <%if(user._id == classinfo.teacher){%>
                            <form method="POST" action="/class/changeClassImg/<%=classinfo._id%>" id="form" enctype="multipart/form-data">
                                <input id="file" type="file" name="classImg" style="display:none;" />
                                <input class="btn btn-primary" type="button" value="編輯" onclick="document.getElementById('file').click();" style="position: absolute;right: 0;"></input>
                            </form>
                        <%}%>
                    </div>
                </div>
                <%}else{%>
                <div class="mb-3" style="height: 14.5rem;background: black;overflow: hidden;display: flex;justify-content: center;flex-direction: column;">
                    <div class="box">
                        <img class="img w-100" src="/img/NoImage.png" style="border: 1px solid rgb(226, 226, 226);">
                        <%if(user._id == classinfo.teacher){%>
                            <form method="POST" action="/class/changeClassImg/<%=classinfo._id%>" id="form" enctype="multipart/form-data">
                                <input id="file" type="file" name="classImg" style="display:none;" />
                                <input class="btn btn-primary" type="button" value="編輯" onclick="document.getElementById('file').click();" style="position: absolute;right: 0;"></input>
                            </form>
                        <%}%>
                    </div>
                </div>
                <%}%>
                <%}else{%>
                <p>no class image</p>
                <%}%>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="row container m-0 p-0 mb-2">
                    <div id="outlineDIV" class="w-100" style="display: flex;justify-content: space-between;height: 36px;">
                        <h5 class=" scrollText " style="display: inline-block">
                            課程說明：
                            <%if(user._id == classinfo.teacher){%>
                            <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                                onclick="updateClassInfo('outline')"></i>
                            <%}%>

                            <%for(let i = 0;i < thisClassStudents.length;i++){%>
                            <%if(thisClassStudents[i].studentID==user._id){%>
                            <%if(thisClassStudents[i].permission[3]=='A'){%>
                            <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                                onclick="updateClassInfo('outline')"></i>
                            <%}%>
                            <%}%>
                            <%}%>
                        </h5>
                    </div>
                </div>
                <div class="md-form">
                    <textarea readonly type="text" id="outline" name="outline" class="md-textarea form-control " style="resize: none;height: 14.5rem;"
                        onfocusout="cancelUpdate('outline')"><%=classinfo.outline%></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="row mb-2">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light  pl-0 pr-0" style="box-shadow:none">
                    <a class="navbar-brand mr-auto" href="#">課程單元與教材</a>
                    <form class="form-inline my-2 my-lg-0">
                        <%if(user.permission =='teacher'){%>
                        <%if(user.id == classinfo.teacher){%>
                        <a href="/class/newClassManager/<%=classinfo._id%>" class="btn btn-outline-info text-secondary my-2 my-sm-0">管理
                        </a>
                        <%}%>
                        <%}%>
                        <%for(let i = 0;i < thisClassStudents.length;i++){%>
                        <%if(thisClassStudents[i].studentID==user._id && thisClassStudents[i].permission != "00000"){%>
                        <%if(thisClassStudents[i].permission[0]=='A'){%>
                        <a href="/class/newClassManager/<%=classinfo._id%>" class="btn btn-outline-info text-secondary my-2 my-sm-0">管理
                        </a>
                        <%}else{%>
                        <a href="/class/newClassManager/<%=classinfo._id%>" class="btn btn-outline-info text-secondary my-2 my-sm-0">查看所有單元
                        </a>
                        <%}%>
                        <%}%>
                        <%}%>
                    </form>
                </nav>
                <hr style="margin-top: 5px">
                <div class="list-group" id="unitlist">
                    <%units.forEach(function(unit){%>
                    <a href="/class/newClassManager/<%=classinfo._id%>" class="list-group-item list-group-item-action disabled">
                        <img src="/img/bookmark-regular.svg" alt="" style="height:20px ; width:20px ; margin-right: 10px">
                        <%=unit.unitName%>
                    </a>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <%let classStudentNumber = 0 %>
        <%for(let i = 0;i< thisClassStudents.length;i++){%>
        <%if(thisClassStudents[i].permission == "11111"){%>
        <%classStudentNumber++%>
        <%}%>
        <%}%>
        <h5 id="classStudentNumber" style = "height:36px">課程人數：
            <%=classStudentNumber%>
        </h5>
        <ul class="list-group">
            <li class="list-group-item  text-center  list-group-item-action active">授課教師
            </li>
            <li class="list-group-item list-group-item-action" style="line-height: 24px;"><%=teacher.name%></li>

            <div id="classtimelist">
                <li class="list-group-item  text-center  list-group-item-action active">上課時間
                    <%if(user._id == classinfo.teacher){%>
                    <i class="fas fa-pen ml-2 float-right" style="color: white;padding-top: 0.2rem;font-size: 16px;"
                        onclick="updateClassInfo('classTime')"></i>
                    <%}%>
                    <%for(let i = 0;i < thisClassStudents.length;i++){%>
                    <%if(thisClassStudents[i].studentID==user._id){%>
                    <%if(thisClassStudents[i].permission[3]=='A'){%>
                    <i class="fas fa-pen ml-2 float-right" style="color: white;padding-top: 0.2rem;font-size: 16px;"
                        onclick="updateClassInfo('classTime')"></i>
                    <%}%>
                    <%}%>
                    <%}%>
                </li>
            </div>

            <li class="list-group-item  text-center  list-group-item-action active">上課地點
                <%if(user._id == classinfo.teacher){%>
                <i class="fas fa-pen ml-2 float-right" style="color:white;padding-top: 0.2rem;font-size: 16px;" onclick="updateClassInfo('classRoom')"></i>
                <%}%>
                <%for(let i = 0;i < thisClassStudents.length;i++){%>
                <%if(thisClassStudents[i].studentID==user._id){%>
                <%if(thisClassStudents[i].permission[3]=='A'){%>
                <i class="fas fa-pen ml-2 float-right" style="color:white;padding-top: 0.2rem;font-size: 16px;" onclick="updateClassInfo('classRoom')"></i>
                <%}%>
                <%}%>
                <%}%>

            </li>
            <li class="list-group-item list-group-item-action" style="line-height: 24px;">
                <%if(!classinfo.classRoom){%>
                未設定
                <%}else{%>
                <%=classinfo.classRoom%>
                <%}%>
            </li>
            <li class="list-group-item  text-center  list-group-item-action active">學分數
                <%if(user._id == classinfo.teacher){%>
                <i class="fas fa-pen ml-2 float-right" style="color: white;padding-top: 0.2rem;font-size: 16px;"
                    onclick="updateClassInfo('credit')"></i>
                <%}%>
                <%for(let i = 0;i < thisClassStudents.length;i++){%>
                <%if(thisClassStudents[i].studentID==user._id){%>
                <%if(thisClassStudents[i].permission[3]=='A'){%>
                <i class="fas fa-pen ml-2 float-right" style="color: white;padding-top: 0.2rem;font-size: 16px;"
                    onclick="updateClassInfo('credit')"></i>
                <%}%>
                <%}%>
                <%}%>
            </li>
            <li class="list-group-item list-group-item-action" style="line-height: 24px;">
                <%=classinfo.credit%>
            </li>
        </ul>
        <br>
        <%let isTeacher = false%>
        <%if(user._id == classinfo.teacher){%>
        <%isTeacher = true%>
        <%}else{%>
        <script>
            let thisAssisten =<%-JSON.stringify(thisAssisten)%>
        </script>
        <%}%>
        <script>
            let data = "<%=classinfo.classTime%>";
            let isTeacher = "<%=isTeacher%>"
            //console.log(isTeacher);
            let classtime = [];
            classtime = data.split(',');
            let classtimelist = document.getElementById('classtimelist');


            if (data.length == 0) {
                let li = document.createElement('li');
                li.className = "list-group-item list-group-item-action";
                li.style.cssText = "line-height:24px";
                li.innerHTML = '未設定';

                // if (isTeacher == "true"|| (thisAssisten != null && thisAssisten.permission[3]=="A")) {
                //     console.log(0);

                //     li.innerHTML +=
                //         `<i class="fas fa-pen ml-2 float-right" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;margin-right:-0.15rem"
                //     onclick="updateClassInfo('classTime')"></i>`
                // }
                classtimelist.appendChild(li);

            } else {
                for (let i = 0; i < classtime.length; i++) {
                    let li = document.createElement('li');
                    li.className = "list-group-item list-group-item-action";
                    li.style.cssText = "line-height:24px";
                    li.innerHTML = classtime[i];

                    // if(isTeacher == "true"||(thisAssisten != null && thisAssisten.permission[3]=="A")) {
                    //     console.log(1);
                    //     li.innerHTML +=
                    //         `<i class="fas fa-pen ml-2 float-right" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;margin-right:-0.15rem;"
                    // onclick="updateClassInfo('classTime')"></i>`;
                    // }
                    classtimelist.appendChild(li);
                }
            }
            var units = <%- JSON.stringify(units) %>;

        </script>

        <%if(user.permission == "teacher"){%>
        <%if(classinfo.teacher == user._id){%>
        <%if(classinfo.isLunched){%>
        <a href="/class/showAssistantIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">助教管理</a>
        <a href="/class/showStudentIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">本班成員</a>
        <%if(units.length != 0){%>
          <a href="/class/correctTestIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">批閱測驗</a>
          <a href="/class/showStudentRFMInClass/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">學生分群</a>
          <a href="/class/showGradeAndTestPercent/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">學習狀況</a>
          <a href="/class/showVideoSituation/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">影片觀看情形</a>
        <%}else{%>
          <a class="btn btn-info form-control mb-2" style="color: white" onclick="alert('目前沒有單元哦!請先新增單元')">批閱測驗</a>
          <a class="btn btn-info form-control mb-2" style="color: white" onclick="alert('目前沒有單元哦!請先新增單元')">學習狀況</a>
          <a class="btn btn-info form-control mb-2" style="color: white" onclick="alert('目前沒有單元哦!請先新增單元')">影片觀看情形</a>
        <%}%>
        <a href="/articles/inClass/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">討論區</a>
        <%}else{%>
        <a href="/class/LunchClass/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">課程上架</a>
        <button class="btn btn-info form-control mb-2 disabled">助教管理</button>
        <a href="/class/showStudentIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2 disabled" style="color: white">本班成員</a>
        <a href="/class/showTestIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2 disabled" style="color: white">批閱測驗</a>
        <button class="btn btn-info form-control mb-2 disabled">學習狀況</button>
        <a herf="/class/showVideoSituation/<%=classinfo.id%>" class="btn btn-info form-control mb-2 disabled" style="color: white">影片觀看情形</a>
        <a href="/articles/inClass/<%=classinfo.id%>" class="btn btn-info form-control mb-2 disabled" style="color: white">討論區</a>
        <%}%>
        <button class="btn btn-danger form-control mb-2 " id="deleteCourse">刪除課程</button>
        <%}%>
        <%}%>
        <%if(user.permission == "student"){%>

        <!--可以管理批閱考卷-->
        <%for(let i = 0;i < thisClassStudents.length;i++){%>
        <%if(thisClassStudents[i].studentID==user._id){%>
        <%if(thisClassStudents[i].permission[2]=='A'){%>
        <a href="/class/correctTestIn/<%=classinfo.id%>" class="btn form-control mb-2" style="color: white;background: rgb(228, 212, 122)">批閱測驗</a>
        <%}%>
        <%}%>
        <%}%>

        <!--可以管理成員-->
        <%for(let i = 0;i < thisClassStudents.length;i++){%>
        <%if(thisClassStudents[i].studentID==user._id && thisClassStudents[i].permission != "00000"){%>
        <%if(thisClassStudents[i].permission[1]=='A'){%>
        <a href="/class/showStudentIn/<%=classinfo.id%>" class="btn form-control mb-2" style="color: white;background: rgb(228, 212, 122)">本班成員</a>
        <%}else{%>
        <a href="/class/showStudentIn/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">本班成員</a>
        <%}%>
        <%}%>
        <%}%>

        <%for(let i = 0;i < thisClassStudents.length;i++){%>
        <%if(thisClassStudents[i].studentID==user._id){%>
        <%if(thisClassStudents[i].permission!='00000'){%>
        <%if(units.length != 0){%>
          <a href="/class/studentWatchGrade/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">觀看成績</a>
        <%}else{%>
          <a  class="btn btn-info form-control mb-2" style="color: white" onclick="alert('目前教師還沒有新增單元哦!')">觀看成績</a>
        <%}%>
        <a href="/articles/inClass/<%=classinfo.id%>" class="btn btn-info form-control mb-2" style="color: white">討論區</a>
        <%}%>
        <%}%>
        <%}%>
        <button  onclick="document.getElementById('takeClassBtn').disabled =true;window.location='/SDC/student/<%=user._id%>/Take/class/:<%=classinfo._id%>'" id="takeClassBtn" class="btn btn-success form-control "
            style="color:white">參加此課程</button>
        <a id="waitapprove" class="btn btn-warning form-control " style="color:white">等待教師審核中</a>
        <hr>
        <button id="quitClassBtn" class="btn btn-danger form-control " style="color:white ;display: none">退出此課程</button>
        <script>
            let thisClassStudents = <%- JSON.stringify(thisClassStudents)%>
            //console.log(thisClassStudents);
            let inclassStudentNumber = 0;
            let isin = "NOT_IN";
            let takeClassBtn = document.getElementById('takeClassBtn');
            let quitClassBtn = document.getElementById('quitClassBtn');
            let waitapprove = document.getElementById('waitapprove');
            for (let i = 0; i < thisClassStudents.length; i++) {
                if (thisClassStudents[i].permission != "00000") { //計算有幾個在這個班上的學生已經審核過了
                    inclassStudentNumber++;
                }
                if (thisClassStudents[i].studentID == "<%=user._id%>") {
                    if (thisClassStudents[i].permission != "00000") { //已經正式成為學生了
                        isin = "IS_IN";
                        //console.log("is in");
                    }
                    if (thisClassStudents[i].permission == "00000") { //等待老師批准中
                        isin = "WAITTING_APPROVE";
                        //console.log("wait approve");

                    }
                }
            }
            let classStudentNumber = document.getElementById('classStudentNumber');
            classStudentNumber.innerHTML = "課程人數：" + inclassStudentNumber

            if (isin == "IS_IN") {
                let unitlist = document.getElementById('unitlist');
                waitapprove.style.cssText = "display:none";
                takeClassBtn.style.cssText = "display:none";
                for (let i = 0; i < unitlist.children.length; i++) {
                    unitlist.children[i].className = "list-group-item list-group-item-action unit";
                }
                quitClassBtn.style.cssText = "display:block";
                quitClassBtn.onclick = function () {
                    let r = confirm("確定要退出此課程嗎");
                    if (r == true) {
                        window.location = "/SDC/student/<%=user._id%>/Quit/class/:<%=classinfo._id%>";
                    } else {

                    }
                }
            } else if (isin == "WAITTING_APPROVE") {
                takeClassBtn.style.cssText = "display:none";
                waitapprove.style.cssText = "display:block"
            } else if (isin == "NOT_IN") { //未申請過此課程
                quitClassBtn.style.cssText = "display:none";
                waitapprove.style.cssText = "display:none"
                //console.log("not Submmited");
            }
        </script>
        <%}%>

    </div>

    <!-- 更改上課時間的modal -->
    <!-- Modal -->
    <div class="modal fade" id="updateTimeModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">更改上課時間</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="selectedTime" style="margin-bottom: 10px;">
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-sm-12 mb-4" style="justify-content: space-between;height: 2.5rem;">
                            <select name="YourLocation" class="myinput h-100" id="weekdaySelector">
                                　<option value="星期一">星期一</option>
                                　<option value="星期二">星期二</option>
                                　<option value="星期三">星期三</option>
                                　<option value="星期四">星期四</option>
                                　<option value="星期五">星期五</option>
                                　<option value="星期六">星期六</option>
                                　<option value="星期日">星期日</option>
                            </select>
                            <input class="myinput h-100" type="time" value="09:10" id="beginTime">
                            <input class="myinput h-100" type="time" value="10:00" id="endTime">
                        </div>
                        <div class="col-lg-2 col-sm-12 " style="height: 2.5rem">
                            <button type="button" class="btn btn-primary float-right h-100" style="width: 4rem" onclick="createNewClassTime()">新增</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="sendUpdate(event,'classTime')">儲存</button>
                </div>
                <input id="chooseClassTime" class="form-control" style="display: none"></input>
            </div>

        </div>
    </div>


    <!-- 更改上課地點的modal -->
    <!-- Modal -->
    <div class="modal fade" id="updateClassRoomModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">更改上課地點</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="updateClassRoomText" value="<%=classinfo.classRoom%>">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="sendUpdate(event,'classRoom')">儲存</button>
                </div>
            </div>

        </div>
    </div>


    <!-- 更改學分數的modal -->
    <!-- Modal -->
    <div class="modal fade" id="updateCreditModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">更改學分數</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="number" min="0" class="form-control" id="updatecreditText" value="<%=classinfo.credit%>">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="sendUpdate(event,'credit')">儲存</button>
                </div>
            </div>

        </div>
    </div>




</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script>
    let deleteCourseBtn = document.getElementById('deleteCourse');
    if (deleteCourseBtn != null) {
        deleteCourseBtn.onclick = function () {
            result = window.confirm("你確定要刪除課程嗎？");
            if (result == true) {
                window.location = "/class/deleteCourse/<%=classinfo._id%>";
            } else {

            }

        }
    }


    let titleText = ''
    //console.log("asd");

    let isSet = false;
    let updateClassInfo = function (info) {
        nowEditPart = info;
        if (info == 'title') {
            let title = document.getElementById('title');
            titleText = title.innerText.substr(5, title.innerText.length - 1);
            let titleDIV = document.getElementById('titleDIV');
            //console.log(titleDIV);
            titleDIV.innerHTML =
                `<input value = "${titleText}" id="updateTitleText" class="form-control" onkeypress ="sendUpdate(event,'title')" onfocusout = "cancelUpdate('title')"/>`
            document.getElementById('updateTitleText').focus();

        }
        if (info == 'outline') {
            let outline = document.getElementById('outline');
            let outlineDIV = document.getElementById('outlineDIV');
            outlineDIV.innerHTML =
                `<h5 class=" scrollText ">
                            課程說明：
                            <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                                onclick="updateClassInfo('outline')"></i>
                        </h5>
                <button class="btn btn-primary float-right" style="padding-top:3px;padding-bottom:3px" onclick="sendUpdate(event,'outline')">儲存</button>`
            outline.readOnly = false;
            outline.focus();

        }
        if (info == "classTime") {
            chooseClassTime = data.split(',');
            $("#updateTimeModal").modal();
            let weekday = document.getElementById('weekdaySelector');
            let beginTime = document.getElementById('beginTime');
            let endTime = document.getElementById('endTime');
            let selectedTimeDiv = document.getElementById('selectedTime');

            //如果chooseClassTime裡面有東西表示老師有設定過時間 就要先把它顯示出來
            //console.log(chooseClassTime);
            for(let i = 0;i<chooseClassTime.length;i++){
                if(chooseClassTime[i] == ""){
                    chooseClassTime.splice(i,1);
                }
            }
            if (chooseClassTime.length != 0) {
                //console.log("有之前設定的時間");
                if (isSet == false) {
                    isSet = true;
                    for (let i = 0; i < chooseClassTime.length; i++) {
                        let div = document.createElement('div');
                        div.className = "alert alert-warning alert-dismissible fade show";
                        div.role = "alert";
                        div.innerHTML = chooseClassTime[i];
                        let btn = document.createElement('button');
                        btn.type = "button";
                        btn.className = "close";
                        btn.setAttribute("data-dismiss", "alert");
                        btn.setAttribute("aria-label", "Close");
                        btn.setAttribute('index', i);
                        btn.setAttribute('onclick', "deleteChooseTime(this)");

                        let span = document.createElement('span');
                        span.setAttribute("aria-hidden", "true");
                        span.innerHTML = "&times;";
                        btn.appendChild(span);
                        div.appendChild(btn);
                        //清空

                        selectedTimeDiv.appendChild(div);
                    }
                }
            } else {
                selectedTimeDiv.innerHTML = '您還未選取上課時間'
            }
            //把開課時設定的時間加到array當中
            chooseClassTime = []
            for (let i = 0; i < classtime.length; i++) {
                chooseClassTime.push(classtime[i]);
            }

        }

        if (info == 'classRoom') {
            $("#updateClassRoomModal").modal();
        }

        if (info == 'credit') {
            $("#updateCreditModal").modal();
        }
    }
    let nowEditPart;
    let sendUpdate = function (e, part) {
        if (part == 'title') {
            if (e.key == 'Enter') {
                let titleDIV = document.getElementById('titleDIV');
                let updateTitleText = document.getElementById('updateTitleText');
                if(updateTitleText.value == ""){
                    updateTitleText.value = "<%=classinfo.className%>"
                    alert("課程名稱不得為空！")
                }else{
                    titleText = updateTitleText.value;
                    titleDIV.innerHTML = '';
                    titleDIV.innerHTML =
                        `<h5 class="scrollText" id="title">
                        課程名稱：${titleText}
                    </h5>
                    <%if(user._id == classinfo.teacher){%>
                    <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                        onclick="updateClassInfo('title')"></i>
                    <%}%>`

                    //titleText update到db中
                    $.ajax({
                        url: '/class/updateClassInfo/<%=classinfo._id%>/' + part + '/' + titleText,
                        type: 'POST',
                        success: function (response) {
                            alert(response);
                        },
                        error: function (err) {
                            alert('錯誤訊息：' + err);
                        }
                    });
                }
            }
        }
        if (part == 'outline') {
            let outline = document.getElementById('outline').value;
            console.log(JSON.stringify(outline));

            //把outline update到db中
            $.ajax({
                url: '/class/updateClassInfo/<%=classinfo._id%>/' + part + "/edit",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"outline":outline}),
                dataType: 'json',
                success: function (response) {
                    alert(response.responseText);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });

        }
        if (part == "classTime") {
            //console.log("classTime");
            //console.log(chooseClassTime);
            //把classTime update到db中

            $.ajax({
                url: '/class/updateClassInfo/<%=classinfo._id%>/' + part + '/sendData',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(chooseClassTime),
                dataType: 'json',
                success: function (response) {
                    window.location = '/class/<%=classinfo._id%>'
                    alert(response);
                },
                error: function (err) {
                    window.location = '/class/<%=classinfo._id%>'
                    alert(response);
                }
            });

        }
        if (part == "classRoom") {
            let updateClassRoomText = document.getElementById('updateClassRoomText').value
            //console.log(updateClassRoomText);
            if(updateClassRoomText == ""){
                updateClassRoomText = "未設定"
            }
            //把classRoom update到db中
            $.ajax({
                url: '/class/updateClassInfo/<%=classinfo._id%>/' + part + '/' + updateClassRoomText,
                type: 'POST',
                success: function (response) {
                    window.location = '/class/<%=classinfo._id%>'
                    alert(response);
                },
                error: function (err) {
                    alert('錯誤訊息：' + err);
                }
            });
        }
        if (part == "credit") {
            let updatecreditText = document.getElementById('updatecreditText').value
            //console.log(updatecreditText);
            //把classRoom update到db中
            $.ajax({
                url: '/class/updateClassInfo/<%=classinfo._id%>/' + part + '/' + updatecreditText,
                type: 'POST',
                success: function (response) {
                    window.location = '/class/<%=classinfo._id%>'
                },
                error: function (err) {
                    alert('錯誤訊息：' + err);
                }
            });
        }

    }

    let cancelUpdate = function (part) {
        if (part == 'title') {
            let titleDIV = document.getElementById('titleDIV');
            let updateTitleText = document.getElementById('updateTitleText');
            titleText = updateTitleText.value;
            titleDIV.innerHTML =
                `<h5 class="scrollText" id="title">
                    課程名稱：${titleText}
                </h5>
                <%if(user._id == classinfo.teacher){%>
                <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                    onclick="updateClassInfo('title')"></i>
                <%}%>

                <%for(let i = 0;i < thisClassStudents.length;i++){%>
                <%if(thisClassStudents[i].studentID==user._id){%>
                <%if(thisClassStudents[i].permission[3]=='A'){%>
                <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                    onclick="updateClassInfo('title')"></i>
                <%}%>
                <%}%>
                <%}%>
                `
        }
        if (part == 'outline') {
            setTimeout(function () {
                let outline = document.getElementById('outline');
                let outlineDIV = document.getElementById('outlineDIV');
                outlineDIV.innerHTML =
                    `<h5 class=" scrollText ">
                                課程說明：
                                <%if(user._id == classinfo.teacher){%>
                                <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                                    onclick="updateClassInfo('outline')"></i>
                                <%}%>

                                <%for(let i = 0;i < thisClassStudents.length;i++){%>
                                <%if(thisClassStudents[i].studentID==user._id){%>
                                <%if(thisClassStudents[i].permission[3]=='A'){%>
                                <i class="fas fa-pen ml-2" style="color: rgb(92, 138, 236);padding-top: 0.2rem;font-size: 16px;"
                                    onclick="updateClassInfo('outline')"></i>
                                <%}%>
                                <%}%>
                                <%}%>
                            </h5>
                   `
                outline.readOnly = true;
            }, 100);
        }
    }
    let chooseClassTime = [];
    let chooseClassTimeLabel = document.getElementById('chooseClassTime');

    function createNewClassTime() {
        let weekday = document.getElementById('weekdaySelector');
        let beginTime = document.getElementById('beginTime');
        let endTime = document.getElementById('endTime');
        let selectedTimeDiv = document.getElementById('selectedTime');

        selectedTimeDiv.innerHTML = '';
        chooseClassTime.push(weekday.value + ' ' + beginTime.value + '~' + endTime.value);
        //console.log(chooseClassTime);
        chooseClassTimeLabel.innerHTML = chooseClassTime
        chooseClassTimeLabel.value = chooseClassTime;
        for(let i = 0;i<chooseClassTime.length;i++){
            if(chooseClassTime[i] == ""){
                chooseClassTime.splice(i,1);
            }
        }
        for (let i = 0; i < chooseClassTime.length; i++) {
            let div = document.createElement('div');
            div.className = "alert alert-warning alert-dismissible fade show";
            div.role = "alert";
            div.innerHTML = chooseClassTime[i];
            let btn = document.createElement('button');
            btn.type = "button";
            btn.className = "close";
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute('index', i);
            btn.setAttribute('onclick', "deleteChooseTime(this)");

            let span = document.createElement('span');
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = "&times;";
            btn.appendChild(span);
            div.appendChild(btn);
            //清空

            selectedTimeDiv.appendChild(div);
        }
    }
    let fileBtn = document.getElementById("file");
    if(fileBtn!=null){
      fileBtn.onchange = function() {
          document.getElementById("form").submit();
      };
    }

    function deleteChooseTime(e) {
        chooseClassTime.pop(parseInt(e.getAttribute("index")));
        chooseClassTimeLabel.innerHTML = chooseClassTime
        chooseClassTimeLabel.value = chooseClassTime;
    }
    //產生QRCODE
    $('#qrcode').qrcode(`${window.location.href}`);
</script>

<% include layout/footer %>
