@@ -1,1385 +0,0 @@
<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous">
<script src="/ckeditor/ckeditor.js"></script>

<style>
    .just-padding {
        padding: 15px;
    }

    .list-group.list-group-root {
        padding: 0;
        overflow: hidden;
    }

    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
    }

    .list-group.list-group-root>.list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group.list-group-root>.list-group>.list-group-item {
        padding-left: 30px;
    }

    .list-group.list-group-root>.list-group>.list-group>.list-group-item {
        padding-left: 45px;
    }

    .list-group-item .fa {
        margin-right: 5px;
    }

    /* 文字超過自動省略成... */
    .ellipsisText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: inherit;

    }
    .alert:hover{
        background: rgb(248, 245, 241);
        border: 1px solid rgb(248, 245, 241);
    }

</style>
<%let isTA = false%>
<%for(let i = 0;i < thisClassStudents.length;i++){%>
<%if(thisClassStudents[i].studentID==user._id){%>
<%if(thisClassStudents[i].permission[0]=='A'){%>
<%isTA = true%>
<%}%>
<%}%>
<%}%>
<div class="row">
    <div class="col-3">
        <div>
            <div style="display: flex;justify-content: space-between">
                <h5 class="float-left">單元總覽</h5>
                <%if(user._id == classinfo.teacher || isTA){%>
                <button type="button" class="btn-secondary mr-2" data-toggle="modal" data-target="#myModal">新增單元</button>
                <%}%>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">新增單元</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>請輸入單元名稱</p>
                            <input type="text" id="unitName" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" onclick="createNewUnit()">確定</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="just-padding">
            <div class="list-group list-group-root" style="height: 450px;overflow-y: scroll;">
                <%units.forEach(function(unit){%>
                <!-- <div class="row border-top bg-white">

                    <div class="col border-0 ">
                        <a href="/class/<%=classinfo._id%>/showUnit/<%=unit._id%>" class="list-group-item list-group-item-action border-0">
                            <%=unit.unitName%>
                        </a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="col-2 border-0 showDeleteUnit" style="display: none;">
                        <a class="btn btn-danger float-right" href="/class/classManager/<%=classinfo._id%>/deleteUnit/<%=unit._id%>"
                            style=" width: 36px;color: white;"><span>-</span></a>
                    </div>

                </div> -->
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <a href="/class/<%=classinfo._id%>/showUnit/<%=unit._id%>" class="text-dark " style="text-decoration: none;padding-top:20px;padding-bottom:20px;padding-right:60px ">
                        <%=unit.unitName%>
                    </a>
                    <%if(user._id == classinfo.teacher || isTA){%>
                    <a class=" close">
                        <span id="<%=unit._id%>" class="delete-unit" aria-hidden="true">&times;</span>
                    </a>
                    <%}%>

                </div>
                <%})%>

            </div>

        </div>
    </div>
    <div class="col bg-white">
        <!-- 如果使用者有選取單元的話 -->
        <%if(typeof chapters !="undefined" ){%>
        <label class="m-0">
            <%=unitName%></label>
        <label style="display: none;" id="unitID" value="<%=unitID%>">
            <%=unitID%>
        </label>
        <label style="display: none;" id="classID" value="<%=classinfo._id%>">
            <%=classinfo._id%>
        </label>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-primary w-100 mb-10">教材</button>
                <hr>
                <div class="list-group" style="height: 300px;overflow-y: scroll;">
                    <%if(typeof chapters !="undefined" ){%>
                    <%chapters.forEach(function(chapter){%>
                    <div class="alert alert-warning alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0;word-wrap: break-word " onclick="showChapter('<%=chapter._id%>')">
                            <%=chapter.chapterName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class=" delete-chapter" id="<%=chapter._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>

                    </div>

                    <%})%>
                    <%}%>

                </div>
                <br>
                <%if(user._id == classinfo.teacher){%>
                <button class="btn btn-secondary w-100" data-toggle="modal" data-target="#addLecture">新增</button>
                <%}%>
                <%for(let i = 0;i < thisClassStudents.length;i++){%>
                <%if(thisClassStudents[i].studentID==user._id){%>
                <%if(thisClassStudents[i].permission[0]=='A'){%>
                <button class="btn btn-secondary w-100" data-toggle="modal" data-target="#addLecture">新增</button>
                <%}%>
                <%}%>
                <%}%>

                <!-- Modal -->
                <div class="modal fade" id="addLecture" tabindex="-1" role="dialog" aria-labelledby="eaddLectureLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addLectureLabel">新增教材</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- TODO 加入新增講義功能 要想辦法拿到unit_id -->
                                <form method="POST" action="/class/unit/addLecture">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">教材名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DiscussTitle" placeholder="請輸入講義名稱"
                                                name="title">
                                        </div>
                                    </div>
                                    <input type="text" name="unitID" style="display: none" value="<%=unitID%>">
                                    <input type="text" name="classID" style="display: none" value="<%=classinfo._id%>">

                                    <p>教材內容</p>
                                    <div class="md-form">
                                        <textarea type="text" id="LectureDetail" class="md-textarea form-control" rows="10"
                                            name="body"></textarea>
                                    </div>
                                    <br>
                                    <input id="addNewChapterbtn" type="submit" onclick="this.style.visibility = 'hidden'"
                                        class="btn btn-primary float-right" value="新增">
                                </form>

                                <div id="example1" class="taggle_list"></div>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-primary w-100">課程影片</button>
                <hr>
                <div style="height: 300px;overflow-y: scroll;">
                    <!-- 顯示影片列表 -->
                    <%if(typeof videos !="undefined" ){%>
                    <%videos.forEach(function(video){%>
                    <div class="alert alert-warning alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0 " onclick="showVideo('<%=video._id%>')">
                            <%=video.videoName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class="delete-video" id="<%=video._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>
                    </div>

                    <%})%>
                    <%}%>
                </div>
                <br>
                <%if(user._id == classinfo.teacher || isTA){%>
                <button class="btn btn-secondary w-100" id="newVideo" data-toggle="modal" data-target="#uploadVideoModal">新增</button>
                <%}%>
                <!-- Modal -->
                <div class="modal fade" id="uploadVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">上傳影片</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-tabs" id="tabContent" style="border: none">
                                    <li class="mr-2"><a href="#fileTab" class="badge badge-info" data-toggle="tab">檔案</a></li>
                                    <li><a href="#URLTab" class="badge badge-info" data-toggle="tab">網址</a></li>
                                </ul>
                                <br>
                                <div class="tab-content">

                                    <!-- file upload panel -->
                                    <div class="tab-pane active" id="fileTab">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">影片名稱</span>
                                            </div>
                                            <input type="text" id="videoTitle" class="form-control" aria-label="Default"
                                                aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片名稱">
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">上傳</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="select-file">
                                                <label class="custom-file-label" for="select-file-button" id="file-text">選擇檔案</label>
                                            </div>
                                        </div>
                                        <script>
                                            var selectFile = document.getElementById('select-file');
                                            var fileText = document.getElementById('file-text');
                                            selectFile.addEventListener('change',function(){
                                                var fileName = selectFile.files[0].name;

                                                fileText.innerHTML = fileName;
                                            });

                                        </script>
                                        <div class="row">
                                            <div class="col">
                                                <div class="progress mt-1" id="uploadProgressBar">
                                                    <div id="uploadPersent" class="progress-bar " role="progressbar"
                                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        <p id="persentText" class="mt-3 px-1">0%</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <table id="uploadVideoList" class="table table-hover" style="display: none">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">影片名稱</th>
                                                    <th scope="col">影片網址</th>
                                                </tr>
                                            </thead>
                                            </tbody>

                                            </tbody>
                                        </table>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" id="execute-request-button">登入老師youtube影片帳號</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" id="upload-file-button">上傳</button>
                                        </div>

                                    </div>
                                    <!-- end of file upload panel -->

                                    <!-- URL upload panel -->
                                    <div class="tab-pane" id="URLTab">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">影片名稱</span>
                                            </div>
                                            <input id="URL-videoName" type="text" class="form-control" aria-label="Default"
                                                aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片名稱">
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">影片網址</span>
                                            </div>
                                            <input id="URL-videoURL" type="text" class="form-control" aria-label="Default"
                                                aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片網址">
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="progress mt-1" id="uploadProgressBar" style="background: none">
                                                    <div id="uploadPersent" style="display: none" class="progress-bar "
                                                        role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                        <p id="persentText" class="mt-3 px-1">0%</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" id="upload-videoURL-button">上傳</button>
                                        </div>
                                    </div>
                                    <!-- end of URL upload panel -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal -->

            </div>
            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-primary w-100">測驗</button>
                <hr>
                <div class="list-group" style="height: 300px;overflow-y: scroll;">
                    <%if(typeof tests !="undefined" ){%>
                    <%tests.forEach(function(test){%>
                    <%if(test.isComplete){%>
                    <div class="alert alert-info alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0 " onclick="showTest('<%=test._id%>')">
                            <%=test.testName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class="delete-test" id="<%=test._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>
                    </div>
                    <%}else{%>
                    <div class="alert alert-warning alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0 " onclick="showTest('<%=test._id%>')">
                            <%=test.testName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class="delete-test" id="<%=test._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>

                    </div>
                    <%}%>

                    <%})%>
                    <%}%>

                </div>
                <br>
                <%if(user._id == classinfo.teacher || isTA){%>
                <button class="btn btn-secondary w-100" data-toggle="modal" data-target="#uploadTestModal" onclick="TestModel()">新增</button>
                <!-- Modal -->
                <div class="modal fade" id="uploadTestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" style="width: 70%;max-width: 70%;" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="TestORHomeWork">新增測驗</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                            <div class="modal-body">
                              <div class="row pr-3" style="height:75%">
                                      <div class="col-5 h-100">
                                          <div class="form-group row mb-0" style="height:10%">
                                              <label for="staticEmail" id="testName" class="col-sm-3 col-form-label">測驗名稱</label>
                                              <div class="col-sm-9">
                                                  <input class="form-control"id="testNameinput" type="text" placeholder="請輸入測驗名稱">
                                              </div>
                                          </div>
                                          <div class="form-group row mb-0"style="height:10%">
                                              <label for="staticEmail" class="col-sm-3 col-form-label">題目類別</label>
                                              <div class="col-sm-9">
                                                  <select id="inputState" class="form-control" onchange="changeTypeOfQution(this)">
                                                      <option selected>選擇題</option>
                                                      <option>是非題</option>
                                                      <option>填空題</option>
                                                      <option>程式題</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="control" style="height: 80%;overflow-y:scroll;border:1px solid #ccc;padding:1rem">
                                              <div id= "MCQ">
                                                <%include layout/MCQ %>
                                              </div>
                                              <div id= "YNQ" style = "display:none">
                                                <%include layout/YNQ %>
                                              </div>
                                              <div id= "FBQ" style = "display:none">
                                                <%include layout/FBQ %>
                                              </div>
                                              <div id= "PGQ" style = "display:none">
                                                <%include layout/PGQ %>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-7 h-100" style = "background:rgba(239, 235, 247, 1);overflow-y:scroll" id = "QuationList">

                                      </div>
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="saveQutionList()">儲存題目</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>

            </div>
            <div class="col-lg-3 col-sm-12">
                <button class="btn btn-primary w-100">作業</button>
                <hr>
                <div style="height: 300px;overflow-y: scroll;">
                    <%if(typeof homeworks !="undefined" ){%>
                    <%homeworks.forEach(function(homework){%>
                    <%if(homework.isComplete){%>
                    <div class="alert alert-info alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0 " onclick="showHomework('<%=homework._id%>')">
                            <%=homework.homeworkName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class="delete-homework" id="<%=homework._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>
                    </div>
                    <%}else{%>
                    <div class="alert alert-warning alert-dismissible fade show " style="padding-right: 40px;padding-left: 10px;"
                        role="alert">
                        <p style="padding: 0;margin: 0 " onclick="showHomework('<%=homework._id%>')">
                            <%=homework.homeworkName%>
                        </p>
                        <%if(classinfo.teacher == user._id || isTA){%>
                        <a class="close" style="padding: 12px;">
                            <span class="delete-homework" id="<%=homework._id%>" aria-hidden="true">&times;</span>
                        </a>
                        <%}%>

                    </div>
                    <%}%>

                    <%})%>
                    <%}%>
                </div>
                <br>
                <%if(user._id == classinfo.teacher || isTA){%>
                <button class="btn btn-secondary w-100" data-toggle="modal" data-target="#uploadTestModal" onclick="HomeWorkModel()">新增</button>
                <%}%>
            </div>
        </div>
        <%}%>
    </div>
</div>
<%if (locals.noSelectUnit) {%>
<script>
    console.log("<%=noSelectUnit%>");
    window.onload = function () {
        console.log("loaded");

        //刪除單元
        $('.delete-unit').on('click', function (e) {
            console.log("asd");

            result = window.confirm("你確定要刪除這個單元嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                console.log(id);

                window.location.href = "/class/classManager/<%=classinfo._id%>/deleteUnit/" + id;
            } else {

            }

        })

    }
</script>
<%}%>
<script>
    let TestORHomeWorkMode = ""
    let HomeWorkModel = function () {
      console.log("home");
        let exampleModalLabel = document.getElementById('TestORHomeWork');
        exampleModalLabel.innerHTML = "新增作業";
        let testnameLabel = document.getElementById('testName');
        testnameLabel.innerHTML = "作業名稱";
        let testName = document.getElementById('testNameinput');
        testName.placeholder = "請輸入作業名稱";
        TestORHomeWorkMode = "HomeWork";
        console.log(TestORHomeWorkMode);

    }
    let TestModel = function () {
      console.log("asd");
        let exampleModalLabel = document.getElementById('TestORHomeWork');
        exampleModalLabel.innerHTML = "新增測驗"
        let testnameLabel = document.getElementById('testName');
        testnameLabel.innerHTML = "測驗名稱";
        let testName = document.getElementById('testNameinput');
        testName.placeholder = "請輸入測驗名稱";
        TestORHomeWorkMode = "Test"
        console.log(TestORHomeWorkMode);

    }

    function createNewUnit() {
        let unitName = document.getElementById('unitName');
        window.location = '/class/<%=classinfo._id%>/addUnit/' + unitName.value;
    }

    function showDelete() {
        // let showAddUnit = document.getElementsByClassName("showAddUnit");
        let showDeleteUnit = document.getElementsByClassName("showDeleteUnit");
        let deleteUnitBtn = document.getElementById("deleteUnitBtn");
        for (let i = 0; i < showDeleteUnit.length; i++) {
            if (showDeleteUnit[i].style.display == "none") {
                showDeleteUnit[i].style.display = "inline";
                deleteUnitBtn.innerHTML = "完成";
                deleteUnitBtn.className = "btn-success float-right";
            } else {
                showDeleteUnit[i].style.display = "none";
                deleteUnitBtn.innerHTML = "刪除單元";
                deleteUnitBtn.className = "btn-danger float-right";
            }
        }
    }

    CKEDITOR.replace('LectureDetail', {
        height: 400,
        filebrowserUploadUrl: '/uploader',
        //記得加下面那行  filebrowserUploadMethod: 'form'
        filebrowserUploadMethod: 'form',
    });
    window.onload = function () {
        console.log("loaded");

        //刪除單元
        $('.delete-unit').on('click', function (e) {
            console.log("asd");

            result = window.confirm("你確定要刪除這個單元嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                console.log(id);

                window.location.href = "/class/classManager/<%=classinfo._id%>/deleteUnit/" + id;
            } else {

            }

        })
        //刪除教材
        $('.delete-chapter').on('click', function (e) {
            result = window.confirm("你確定要刪除這篇教材嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                const unitID = document.getElementById('unitID').innerText.replace(/\s/g,
                    '');
                console.log(unitID);

                $.ajax({
                    type: 'DELETE',
                    url: '/class/deletechapter/' + id,
                    success: function (response) {
                        window.location.href =
                            '/class/<%=classinfo._id%>/showUnit/' + unitID;
                        alert('刪除成功!');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {

            }

        })
        //刪除影片
        $('.delete-video').on('click', function (e) {
            result = window.confirm("你確定要刪除這個影片嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                const unitID = document.getElementById('unitID').innerText.replace(/\s/g,
                    '');
                console.log(unitID);

                $.ajax({
                    type: 'DELETE',
                    url: '/class/deletevideo/' + id,
                    success: function (response) {
                        window.location.href =
                            '/class/<%=classinfo._id%>/showUnit/' + unitID;
                        alert('刪除成功!');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {

            }

        })
        //刪除測驗
        $('.delete-test').on('click', function (e) {
            result = window.confirm("你確定要刪除這個測驗嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                const unitID = document.getElementById('unitID').innerText.replace(/\s/g, '');
                $.ajax({
                    type: 'DELETE',
                    url: '/class/deletetest/' + id,
                    success: function (response) {
                        window.location.href = '/class/<%=classinfo._id%>/showUnit/' + unitID;
                        alert('刪除成功!');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {

            }

        })
        //刪除測驗
        $('.delete-homework').on('click', function (e) {
            result = window.confirm("你確定要刪除這個作業嗎？");
            if (result == true) {
                $target = $(e.target);
                const id = $target.attr('id');
                const unitID = document.getElementById('unitID').innerText.replace(/\s/g, '');
                $.ajax({
                    type: 'DELETE',
                    url: '/class/deletehomework/' + id,
                    success: function (response) {
                        window.location.href = '/class/<%=classinfo._id%>/showUnit/' + unitID;
                        alert('刪除成功!');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {

            }

        })


        //點擊已新增的講義列表中的一個講義 秀出講義的內容
        showChapter = function (chapterID) {
            let path = '/class/showChapter/' + chapterID;
            window.location = path;
        }

        //點擊已新增的講義列表中的一個影片 秀出影片的內容
        showVideo = function (videoID) {
            let path = '/class/showVideo/' + videoID;
            window.location = path;
        }

        //點擊已新增的講義列表中的一個測驗 秀出測驗的內容
        showTest = function (testID) {
            let path = '/class/showTest/' + testID;
            window.location = path;
        }

        //點擊已新增的作業列表中的一個作業 秀出作業內容
        showHomework = function (homeworkID) {
            let path = '/class/showHomeWork/' + homeworkID;
            window.location = path;
        }
        let uploadvideoURLbutton = document.getElementById('upload-videoURL-button');
        uploadvideoURLbutton.onclick = function () {
            let classID = document.getElementById('classID').innerText.replace(/\s/g, '');
            let videoname = document.getElementById('URL-videoName').value;
            let videoURL = document.getElementById('URL-videoURL').value;
            let url = '';
            var pos = videoURL.indexOf("watch?v=");
            var end = videoURL.indexOf("&");
            if (end = -1) {
                end = videoURL.length
            }
            console.log(end);

            if (pos != -1) {
                url = videoURL.substring(pos + 8, end);
                console.log("url=" + url);
            }
            let verifyYoutubeUrl = 'https://www.youtube.com/';
            let verifyYoutube = verifyYoutubeUrl.indexOf(verifyYoutubeUrl);
            console.log("verifyYoutube" + verifyYoutube);

            if (verifyYoutube >= 0) { //如果是youtube的網址
                $.ajax({
                    type: 'POST',
                    url: '/class/' + unitID.innerText.replace(/\s/g, '') + '/addvideo/' +
                        videoname +
                        '/' + url,
                    success: function (response) {
                        window.location = '/class/' + "<%=classinfo._id%>/showUnit/" + unitID.innerText
                            .replace(/\s/g, '');
                        alert('新增成功!');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert('您輸入的網址不是youtube的影片！')
            }


        }

    }
    let MCQ = document.getElementById('MCQ');
    let YNQ = document.getElementById('YNQ');
    let FBQ = document.getElementById('FBQ');
    let PGQ = document.getElementById('PGQ');
    let changeTypeOfQution = function functionName(e) {
      console.log("onchange");
      if(e.value == "選擇題"){
        MCQ.style.cssText = "display:block";
        YNQ.style.cssText = "display:none";
        FBQ.style.cssText = "display:none";
        PGQ.style.cssText = "display:none";
      }
      else if(e.value == "是非題"){
        MCQ.style.cssText = "display:none";
        YNQ.style.cssText = "display:block";
        FBQ.style.cssText = "display:none";
        PGQ.style.cssText = "display:none";
      }
      else if(e.value == "填空題"){
        MCQ.style.cssText = "display:none";
        YNQ.style.cssText = "display:none";
        FBQ.style.cssText = "display:block";
        PGQ.style.cssText = "display:none";
      }
      else if(e.value == "程式題"){
        MCQ.style.cssText = "display:none";
        YNQ.style.cssText = "display:none";
        FBQ.style.cssText = "display:none";
        PGQ.style.cssText = "display:block";
      }
    }

    let QuationList = [];
    function updateCreatedQutionList(newQution){
      QuationList.push(newQution);
      updateQutionList();
    }
    function updateQutionList() {
      let QuationListDIV = document.getElementById('QuationList');
      QuationListDIV.innerHTML ="";
      let indexofQution = 0;
      QuationList.forEach(function(newQution){
        if (newQution.type == '選擇題') {
            // <div class="alert alert-warning alert-dismissible fade show" role="alert">
            //     <h5>題目類型：選擇題</h5>
            //     <h6>題目：我有10顆蘋果吃了兩顆請問還剩幾科</h6>
            //     <p>A:9顆 B:8顆 C:7顆 D:6顆</p>
            //     <p>正確答案:(B) 8顆</p>
            //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            //         <span aria-hidden="true">&times;</span>
            //     </button>
            // </div>
            let div = document.createElement('div');
            div.className = 'alert alert-light alert-dismissible fade show mt-3';
            div.style.cssText = "color:black";
            div.setAttribute('onclick',`editQution(${indexofQution})`);
            let h5 = document.createElement('h5');
            h5.innerText = "題目類型：選擇題";
            let h6 = document.createElement('h6');
            h6.innerText = `題目：${newQution.qutionName}`;
            let p1 = document.createElement('div');
            p1.innerHTML+="<h6>選項：</h6>"
            for(let i = 0;i< newQution.selection.length;i++){
              p1.innerHTML+=`<div class="form-group row answer1">
                                <div class="col-sm-1 answer1-check-col">
                                    <i class="far fa-circle" style="padding:12px"></i>
                                </div>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-border" disabled style="background:none" value=${newQution.selection[i]}>
                                </div>
                            </div>`
            }
            let p2 = document.createElement('p');
            let correctanswer = '未設定'
            if(newQution.correctAnswers.length!=0){
              correctanswer = "";
              for(let i = 0;i<newQution.correctAnswers.length;i++){
                correctanswer += newQution.correctAnswers[i];
                if(i<newQution.correctAnswers.length-1){
                  correctanswer+=" 與 "
                }
              }
            }
            p2.innerText = `正確答案：${correctanswer}`;
            let p3 = document.createElement('p');
            p3.innerText = '配分：' + newQution.score;
            let btn = document.createElement('button');
            btn.className = 'close';
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

            let span = document.createElement('span');
            span.attributes = 'aria-hidden="true"';
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = '&times;';
            btn.appendChild(span);
            div.appendChild(h5);
            div.appendChild(h6);
            div.appendChild(p1);
            div.appendChild(p2);
            div.appendChild(p3);
            div.appendChild(btn);

            QuationListDIV.appendChild(div);
        }
        if (newQution.type == '是非題') {
            // <div class="alert alert-warning alert-dismissible fade show" role="alert">
            //     <h5>題目類型：是非題</h5>
            //     <h6>題目：我是不是一個帥哥？</h6>
            //     <p>正確答案:是</p>
            //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            //         <span aria-hidden="true">&times;</span>
            //     </button>
            // </div>
            let div = document.createElement('div');
            div.className = 'alert alert-light alert-dismissible fade show mt-3';
            div.style.cssText = "color:black";
            div.setAttribute('onclick',`editQution(${indexofQution})`);
            let h5 = document.createElement('h5');
            h5.innerText = "題目類型：是非題";
            let h6 = document.createElement('h6');
            h6.innerText = `題目：${newQution.qutionName}`;
            let p = document.createElement('p');
            if (newQution.correctAnswers == 'yes') {
                p.innerHTML = '正確答案：是';
            }
            if (newQution.correctAnswers == 'no') {
                p.innerHTML = '正確答案：否';
            }
            let p3 = document.createElement('p');
            p3.innerText = '配分：' + newQution.score;
            let btn = document.createElement('button');
            btn.className = 'close';
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

            let span = document.createElement('span');
            span.attributes = 'aria-hidden="true"';
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = '&times;';
            btn.appendChild(span);
            div.appendChild(h5);
            div.appendChild(h6);
            div.appendChild(p);
            div.appendChild(p3);
            div.appendChild(btn);
            QuationListDIV.appendChild(div);

        }
        if (newQution.type == '填空題') {
            // <div class="alert alert-warning alert-dismissible fade show" role="alert">
            //     <h5>題目類型：填空題</h5>
            //     <h6>題目：請寫出這學期上這堂課之後的心得</h6>
            //     <p>正確答案:無設定正確答案</p>
            //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            //         <span aria-hidden="true">&times;</span>
            //     </button>
            // </div>
            let div = document.createElement('div');
            div.className = 'alert alert-light alert-dismissible fade show mt-3';
            div.style.cssText = "color:black";
            div.setAttribute('onclick',`editQution(${indexofQution})`);
            let h5 = document.createElement('h5');
            h5.innerText = "題目類型：填空題";
            let h6 = document.createElement('h6');
            h6.innerText = `題目：${newQution.qutionName}`;
            let p = document.createElement('div');
            p.innerHTML+="<h6>答案：</h6>"
            for(let i = 0;i<newQution.correctAnswers.length;i++){
              let input = document.createElement('input');
              input.className = "form-control mb-1";
              input.value = newQution.correctAnswers[i];
              p.appendChild(input)
            }
            let p3 = document.createElement('p');
            p3.innerText = '配分：' + newQution.score;
            let btn = document.createElement('button');
            btn.className = 'close';
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

            let span = document.createElement('span');
            span.attributes = 'aria-hidden="true"';
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = '&times;';
            btn.appendChild(span);
            div.appendChild(h5);
            div.appendChild(h6);
            div.appendChild(p);
            div.appendChild(p3);
            div.appendChild(btn);
            QuationListDIV.appendChild(div);
        }
        if (newQution.type == '程式題') {
            //             div class="alert alert-warning alert-dismissible fade show" role="alert">
            //                 <h5>題目類型：程式題</h5>
            //                 <h6>題目：請用c語言print出下列圖形</h6>
            //                 <p>輸入說明:輸入一個n且為正整數</p>
            //                 <p>輸出說明:印出n階的三角形 註:不可直接印出此圖形</p>
            //                 <pre>範例輸入:3</pre>
            //                 <pre>範例輸出:
            // *
            // **
            // ***
            //                 </pre>

            //                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            //                     <span aria-hidden="true">&times;</span>
            //                 </button>
            let div = document.createElement('div');
            div.className = 'alert alert-light alert-dismissible fade show mt-3';
            div.style.cssText = "color:black";
            div.setAttribute('onclick',`editQution(${indexofQution})`);
            let h5 = document.createElement('h5');
            h5.innerText = "題目類型：程式題";
            let h6 = document.createElement('h6');
            h6.innerText = `題目：${newQution.qutionName}`;
            let p1 = document.createElement('p');
            p1.innerHTML = `輸入說明：${newQution.inputDescription}`;
            let p2 = document.createElement('p');
            p2.innerHTML = `輸出說明：${newQution.outputDescription}`;
            let p3 = document.createElement('pre');
            p3.innerHTML = `輸入範例：\n${newQution.inputExample}`;
            let p4 = document.createElement('pre');
            p4.innerHTML = `輸出範例：\n${newQution.outputExample}`;
            let btn = document.createElement('button');
            let p5 = document.createElement('p');
            p5.innerText = '配分：' + newQution.score;
            btn.className = 'close';
            // btn.attributes = 'data-dismiss="alert" aria-label="Close" qutionID=' + QuationList.length - 1;
            btn.setAttribute("data-dismiss", "alert");
            btn.setAttribute("aria-label", "Close");
            btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

            let span = document.createElement('span');
            span.attributes = 'aria-hidden="true"';
            span.setAttribute("aria-hidden", "true");
            span.innerHTML = '&times;';
            btn.appendChild(span);
            div.appendChild(h5);
            div.appendChild(h6);
            div.appendChild(p1);
            div.appendChild(p2);
            div.appendChild(p3);
            div.appendChild(p4);
            div.appendChild(p5);
            div.appendChild(btn);
            QuationListDIV.appendChild(div);
        }
        indexofQution+=1;
      })
    }
    function editQution(id){
      console.log(QuationList[id]);
      if(QuationList[id].type == "選擇題"){
        editMCQ(QuationList[id],id);
        changeTypeOfQution({value:"選擇題"})
      }
      if(QuationList[id].type == "是非題"){
        editYNQ(QuationList[id],id);
        changeTypeOfQution({value:"是非題"})
      }
      if(QuationList[id].type == "填空題"){
        editFBQ(QuationList[id],id);
        changeTypeOfQution({value:"填空題"})
      }
      if(QuationList[id].type == "程式題"){
        editPGQ(QuationList[id],id);
        changeTypeOfQution({value:"程式題"})
      }
    }

    function deleteQutioListItem(id) {
        QuationList[id] = '';
        console.log(QuationList);
    }

    function saveQutionList() {
        QuationList = QuationList.filter(list => list != '');
        let testName = document.getElementById('testNameinput');
        let unitID = document.getElementById('unitID').innerText.replace(/\s/g, '');

        let testinfo = {
            testName: testName.value,
            QuationList: QuationList,
            belongUnit: unitID
        }
        //TODO
        //傳到伺服器存起來
        if (TestORHomeWorkMode == "Test") {
            $.ajax({
                url: '/class/addTest/class/<%=classinfo._id%>/unit/' + unitID,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(testinfo),
                dataType: 'json',
                success: function (response) {
                    alert('新增成功');
                    window.location.href = '/class/<%=classinfo._id%>/showUnit/' + unitID;
                },
                error: function (err) {
                    alert('錯誤訊息：' + err.responseJSON.msg);
                }
            });
        }
        if (TestORHomeWorkMode == "HomeWork") {
            console.log("homework mode");
            $.ajax({
                url: '/class/addHomeWork/class/<%=classinfo._id%>/unit/' + unitID,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(testinfo),
                dataType: 'json',
                success: function (response) {
                    alert('新增成功');
                    window.location.href = '/class/<%=classinfo._id%>/showUnit/' + unitID;
                },
                error: function (err) {
                    alert('錯誤訊息：' + err.responseJSON.msg);
                }
            });
        }

    }
</script>

<script src="/js/uploadVideo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
<% include layout/footer %>
