<% include layout/header %>
<style>

    .noHoverStyle:hover {
        outline: none;
        text-shadow: none;
    }

    .noHoverStyle {
        outline: none;
        text-shadow: none;
        border: 1px rgb(104, 103, 103) solid;
        padding: 0 .8em
    }
    .Categoryitem{
        display: inline-block;
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<h3>程式練習區</h3>
<hr>
<div class="row">
    <div class="col-lg-9 col-sm-12">
        <div>
            <div style="display: flex;justify-content: space-between;margin-bottom: 1rem">
                <%if(user.permission == "admin"){%>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            選擇分類
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/coding">所有題目</a>
                            <%tags.forEach(function(tag){%>
                                <a class="dropdown-item" href="/coding/select/<%=tag.tagName%>"><%=tag.tagName%></a>
                            <%})%>
                        </div>
                    </div>
                    <a href="/coding/editTag" class="btn btn-info"style="display: flex;justify-content: center;flex-direction: column;color:white">編輯分類</a>
                <%}else{%>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            選擇分類
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/coding">所有題目</a>
                            <%tags.forEach(function(tag){%>
                                <a class="dropdown-item" href="/coding/select/<%=tag.tagName%>"><%=tag.tagName%></a>
                            <%})%>
                        </div>
                    </div>
                <%}%>
            </div>
            <div class="mb-2" style="display: flex">
                <input type="text" style="flex: 8;border: 1px solid rgb(182, 181, 181)">
                <input type="submit" class="btn btn-primary" value="搜尋" style="flex: 1;margin-left: 1rem">
                <%if(user.permission == "admin"){%>
                    <a href="/coding/createNewCodingQution" class="btn btn-success"
                    style="flex: 1;margin-left: 1rem">新增題目</a>
                <%}%>
            </div>
            <div class="topic">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%;"></th>
                            <th scope="col">#</th>
                            <th scope="col" style="width: 63%;">題目</th>
                            <th scope="col">正確率</th>
                            <th scope="col">難易度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i = 0;i<qutions.length;i++){%>
                        <tr>
                            <th scope="row">
                                <%if(qutions[i].isWritten == "Right"){%>
                                <i class="fas fa-check" style="color: rgb(82, 164, 81)"></i>
                                <%}%>
                                <%if(qutions[i].isWritten == "Wrong"){%>
                                <i class="fas fa-times" style="color: rgb(220, 68, 74)"></i>
                                <%}%>
                            </th>
                            <th scope="row">
                                <%=i+1%>
                            </th>
                            <td>
                                <a href="/coding/showCodingQution/<%=qutions[i]._id%>"><%=qutions[i].title%></a>
                            </td>
                            <td>
                                <%if(qutions[i].submitTime == 0){%>
                                沒有提交紀錄
                                <%}else{%>
                                <%=Math.floor((qutions[i].acceptTime/qutions[i].submitTime) * 100)%>
                                %
                                <%}%>
                            </td>
                            <td>
                                <%if(qutions[i].submitTime == 0){%>
                                沒有提交紀錄
                                <%}else{%>
                                <%if(Math.floor((qutions[i].acceptTime/qutions[i].submitTime) * 100)>60){%>
                                <span class="badge badge-success"
                                    style="color: rgb(245, 245, 245);font-size: 12px">簡單</span>
                                <%}else if(Math.floor((qutions[i].acceptTime/qutions[i].submitTime) * 100)>30){%>
                                <span class="badge badge-warning"
                                    style="color: rgb(245, 245, 245);font-size: 12px">普通</span>
                                <%}else{%>
                                <span class="badge badge-danger"
                                    style="color: rgb(245, 245, 245);font-size: 12px">困難</span>
                                <%}%>
                                <%}%>
                            </td>
                        </tr>
                        <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div style="width: 100%">
            <div>
                <h5>你的解題情況</h5>
                <div style="width: 100%;height: 18rem;border: 1px solid rgb(235, 235, 235);border-radius: 5px">
                    <canvas id="myChart" style="width: 100%;height: 15rem;"></canvas>
                    <div style="width: 100%;height: 3rem;display: flex;justify-content: space-around">
                        <p id = "finish" style="display: flex;justify-content: center;flex-direction: column;margin: 0;color: rgb(97, 158, 85)"></p>
                        <p id = "last"  style="display: flex;justify-content: center;flex-direction: column;margin: 0;color: rgb(224, 15, 15)"></p>
                    </div>
                </div>
                <h5 class="mt-4">最近提交紀錄</h5>
                <div class="mt-2"style="width: 100%;height: 18rem;" id = "submitRecord">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    let showQution = function (id) {
        //console.log(id);
        window.location = "/coding/showCodingQution/" + id
    }
    let myRecord = <%-JSON.stringify(myRecord)%>
    let qutions = <%-JSON.stringify(qutions)%>
    let totalRight = 0;
    for (let i = 0; i < qutions.length; i++) {
        qutions[i].isWritten = "Not";
        qutions[i].acceptTime = 0;
    }
    for (let i = 0; i < qutions.length; i++) {
        for (let j = 0; j < myRecord.length; j++) {
            if (qutions[i]._id == myRecord[j].codingQutionID) {
                qutions[i].submitTime += 1;
                if (myRecord[j].status == "Accepted") {
                    qutions[i].acceptTime += 1;
                }

                if (myRecord[j].status == "Accepted") {
                    if (qutions[i].isWritten == "Not" || qutions[i].isWritten == "Wrong") {
                        qutions[i].isWritten = "Right"
                    }
                }
                if (myRecord[j].status == "Wrong Answer" || myRecord[j].status == "Compile Error") {
                    if (qutions[i].isWritten != "Right") {
                        qutions[i].isWritten = "Wrong"
                    }
                }

            }
        }
    }
    for(let i = 0 ;i<qutions.length;i++){
        if(qutions[i].isWritten == "Right"){
            totalRight +=1
        }
    }

    let finish = document.getElementById('finish');
    let last = document.getElementById('last');

    finish.innerHTML = "已完成："+totalRight;
    last.innerHTML = "待解決："+ (qutions.length - totalRight);
    //console.log("totalRight = ",totalRight);
    //console.log("totalQuestion = ",qutions.length);


    var ctx = document.getElementById('myChart').getContext('2d');
    let data = {
        labels:['已完成','待解決'],
        datasets: [{
            data: [totalRight, qutions.length-totalRight],
            backgroundColor: ['rgb(52, 191, 73)','rgb(255, 76, 76)',]
        }]
    };
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
            title: {
                display: true,
                text: '解題情況'
            }
        }
    });



    //提交紀錄
    let submitRecord = []
    for(let i = 0;i<myRecord.length;i++){
        for(let j = 0 ;j<qutions.length;j++){
            if(myRecord[i].codingQutionID == qutions[j]._id){
                let data = {
                    submitTime:myRecord[i].submitTime,
                    title:qutions[j].title,
                    id:qutions[j]._id
                }
                submitRecord.push(data)
            }
        }
    }
    let submitRecordDiv = document.getElementById('submitRecord')
    for(let i = submitRecord.length-1;i>=0;i--){
        if(i<submitRecord.length-4){//最多顯示四筆
            break
        }
        submitRecordDiv.innerHTML += `
        <div class="card mt-2">
            <div class="card-header">
                ${submitRecord[i].submitTime}
            </div>
            <div class="card-body pt-2 pb-2">
                <a href="/coding/showCodingQution/${submitRecord[i].id}" class="card-text">${submitRecord[i].title}</a>
            </div>
        </div>
        `
    }
</script>

<% include layout/footer %>
