<% include layout/header %>
<style>
    /* 文字超過自動省略成... */
    .ellipsisText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .backgroundIMG {
        background: url(/img/loading.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .p2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem
    }

    .card:hover {
        box-shadow: 0px 0px 30px #686666;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.01);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.01);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.01);
        transition: all 200ms ease-in;
        transform: scale(1.01);
    }

    .box {
        background: #ccc;
        position: relative;
        overflow: hidden;
        margin: 0px;
    }

    .box:after {
        padding-top: 56.25%;
        content: "";
        display: block;
    }

    .img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 100%;
        margin: auto;
    }
</style>
<div class="container">
    <h3>
        <%=title%>
    </h3>
    <hr>
    <%if(user.permission == "teacher"){%>
    <div class="row container mt-3">
        <h4>已上架</h4>
    </div>
    <%}%>

    <div class="row">
        <%if(user.permission == "teacher"){%>
        <%for(var i=0; i<classesInfo.length; i++){%>
        <%if(classesInfo[i].isLunched){%>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 100%;margin-top: 20px" onclick="window.location = '/class/<%=classesInfo[i]._id%>'">
                <%if(classesInfo[i].classImage){%>
                <div class="box">
                    <img class="img w-100" src="/class/image/<%=classesInfo[i].classImage%>" style="border: 1px solid rgb(226, 226, 226);">
                </div>
                <%}else{%>
                <div class="box">
                    <img class="img w-100" src="/img/NoImage.png" style="border: 1px solid rgb(226, 226, 226);">
                </div>
                <%}%>
                <div class="card-body" style="height: 13rem;border-top: 4px solid rgb(255, 160, 35)">
                    <h5 class="card-title ellipsisText" id="cardTitle">
                        <%=classesInfo[i].className%>
                    </h5>
                    <div class="card-text p2" id="cardOutline" style="height: 4.5rem">
                        <%=classesInfo[i].outline%>
                    </div>
                    <a href="/class/<%=classesInfo[i]._id%>" class="btn btn-primary">查看課程</a>

                </div>
            </div>
        </div>
        <%}%>
        <%}%>

        <%}else{%>
        <%if(classesInfo.length == 0){%>
        <div class="col mt-5">
            <h5 class="text-center">你還沒有修過任何課喔！快到課程頁面選擇想修的課吧！</h5>
        </div>

        <%}%>
        <% for(var i=0; i<classesInfo.length; i++) {%>
          <% for(var j=0; j<classes.length; j++) {%>
            <%if(classesInfo[i]._id==classes[j].classID && classes[j].permission!="00000"){%>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="card" style="width: 100%;margin-top: 20px" onclick="window.location = '/class/<%=classesInfo[i]._id%>'">
                    <%if(classesInfo[i].classImage){%>
                    <div class="box">
                        <img class="img w-100" src="/class/image/<%=classesInfo[i].classImage%>" style="border: 1px solid rgb(226, 226, 226);">
                    </div>
                    <%}else{%>
                    <div class="box">
                        <img class="img w-100" src="/img/NoImage.png" style="border: 1px solid rgb(226, 226, 226);">
                    </div>
                    <%}%>
                    <div class="card-body" style="height: 13rem;border-top: 4px solid rgb(255, 160, 35)">
                        <h5 class="card-title ellipsisText" id="cardTitle">
                            <%=classesInfo[i].className%>
                        </h5>
                        <div class="card-text p2" id="cardOutline" style="height: 4.5rem">
                            <%=classesInfo[i].outline%>
                        </div>

                        <a href="/class/<%=classesInfo[i]._id%>" class="btn btn-primary">查看課程</a>

                    </div>
                </div>
            </div>
            <%}%>
          <%}%>
        <%}%>
        <%}%>
    </div>
    <%if(user.permission == "teacher"){%>
    <hr>
    <div class="row container mt-3">
        <h4>未上架</h4>
    </div>
    <%}%>
    <div class="row">

        <%if(user.permission == "teacher"){%>
        <% for(var i=0; i<classesInfo.length; i++) {%>
        <%if(classesInfo[i].isLunched != true){%>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 100%;margin-top: 20px" onclick="window.location = '/class/<%=classesInfo[i]._id%>'">
                <%if(classesInfo[i].classImage){%>
                <div class="box">
                    <img class="img w-100" src="/class/image/<%=classesInfo[i].classImage%>" style="border: 1px solid rgb(226, 226, 226);">
                </div>
                <%}else{%>
                <div class="box">
                    <img class="img w-100" src="/img/NoImage.png" style="border: 1px solid rgb(226, 226, 226);">
                </div>
                <%}%>
                <div class="card-body" style="height: 13rem;">
                    <h5 class="card-title ellipsisText" id="cardTitle">
                        <%=classesInfo[i].className%>
                    </h5>
                    <div class="card-text p2" id="cardOutline" style="height: 4.5rem">
                        <%=classesInfo[i].outline%>
                    </div>
                    <a href="/class/<%=classesInfo[i]._id%>" class="btn btn-primary">查看課程</a>

                </div>
            </div>
        </div>
        <%}%>
        <%}%>
        <%}%>
    </div>
</div>
<% include layout/footer %>
