<% include layout/navbar %>
<script src="/ckeditor/ckeditor.js"></script>
<style>
    html,
    body {
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .chapterList {
        list-style: none;
    }

    .chapter {
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .chapter a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        padding: 1rem
    }

    .chapter a:hover {
        background: rgb(224, 224, 224)
    }

    .chapter a:focus {
        border-left: 4px solid rgb(199, 45, 39);
        outline: none
    }

    /* meterial loader */
    .linear-activity {
        overflow: hidden;
        width: 50%;
        height: 4px;
        background-color: #B3E5FC;
        margin: 20px auto;
    }

    .determinate {
        position: relative;
        max-width: 100%;
        height: 100%;
        -webkit-transition: width 500ms ease-out 1s;
        -moz-transition: width 500ms ease-out 1s;
        -o-transition: width 500ms ease-out 1s;
        transition: width 500ms ease-out 1s;
        background-color: #03A9F4;
    }

    .indeterminate {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .indeterminate:before {
        content: '';
        position: absolute;
        height: 100%;
        background-color: #03A9F4;
        animation: indeterminate_first 1.5s infinite ease-out;
    }

    .indeterminate:after {
        content: '';
        position: absolute;
        height: 100%;
        background-color: #4FC3F7;
        animation: indeterminate_second 1.5s infinite ease-in;
    }

    @keyframes indeterminate_first {
        0% {
            left: -100%;
            width: 100%;
        }

        100% {
            left: 100%;
            width: 10%;
        }
    }

    @keyframes indeterminate_second {
        0% {
            left: -150%;
            width: 100%;
        }

        100% {
            left: 100%;
            width: 10%;
        }
    }

    /* end of meterial loader */

    .table {
        width: 100%
    }

    .table tr {
        border: none
    }

    .table tr:hover {
        background: rgb(224, 224, 224)
    }

    .table tr th {
        border: none
    }

    .videoName {
        color: black;
    }

    .videoName:hover {
        color: rgb(62, 113, 209);
    }

    .card-text img {
        width: 100%;
    }

    @media only screen and (max-width: 375px) {
        .card {
            width:100% !important;
            background: darkgray;
        }
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    ntegrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<%let isTA = false%>
<%for(let i = 0;i < thisClassStudents.length;i++){%>
<%if(thisClassStudents[i].studentID==user._id){%>
<%if(thisClassStudents[i].permission[0]=='A'){%>
<%isTA = true%>
<%}%>
<%}%>
<%}%>
<input type="text" id="classID" style="display: none"  value="<%=classinfo._id%>">
<div id="line-loader" class="linear-activity w-100 pt-0 pb-0 mb-0" style="display: none;margin-top: -0.7rem">
    <div class="indeterminate"></div>
</div>
<div class="row w-100 h-100">
    <div class="col-lg-2 col-sm-12 chapterDiv mb-3" style="border-right: 1px solid rgb(229, 229, 229)">
        <div style="display: flex;justify-content: space-between;padding: 1rem">
            <h5>單元</h5>
            <%if(isTA || user._id == classinfo.teacher){%>
            <i class="fas fa-plus-circle" style="font-size: 1.5rem;color: rgb(78,167,150)" data-toggle="modal"
            data-target="#myModal">
            </i>
            <%}%>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">新增單元</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>請輸入單元名稱</p>
                            <input type="text" id="unitName" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" onclick="createNewUnit()">確定</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <ul class="chapterList">
            <%let i = 0%>
<%units.forEach(function(unit){%>
<li class="chapter" aria-haspopup="true" aria-expanded="false">
    <a href="#" id="unit<%=i%>"><p style="padding: 0;margin: 0" onclick="selectUnit('unit<%=i%>','<%=unit._id%>')"><%=unit.unitName%></p> <i class="fas fa-trash-alt" onclick="deleteUnit('<%=unit.unitName%>','<%=unit._id%>')" style="position: absolute;right: 1rem;"></i></a>
</li>
<%i++%>
<%})%>
</ul>
</div>
<div class="col-lg-10 col-sm-12 h-100 videos">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="videoTab" href="#" onclick="showVideo()">影片</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="chapterTab" onclick="showChapter()">講義</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="testTab" onclick="showTest()">測驗</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" id="myscheduleTab" tabindex="-1" aria-disabled="true">我的進度</a>
        </li>
    </ul>
    <div class="w-100" style="overflow-x: scroll">
        <table class="table" id="videoTable">
            <!-- <i class="fas fa-plus-circle"
                    style="position: fixed;bottom: 5rem;right: 5rem;font-size: 3rem;color: rgb(78,167,150)" id="newVideo"
                    data-toggle="modal" data-target="#uploadVideoModal">
                </i> -->
        </table>
    </div>

    <!-- 影片上傳model -->
    <div class="modal fade" id="uploadVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">上傳影片</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="tabContent" style="border: none">
                        <li class="mr-2"><a href="#fileTab" class="badge badge-info" data-toggle="tab">檔案</a>
                        </li>
                        <li><a href="#URLTab" class="badge badge-info" data-toggle="tab">網址</a></li>
                    </ul>
                    <br>
                    <div class="tab-content">

                        <!-- file upload panel -->
                        <div class="tab-pane active" id="fileTab">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">影片名稱</span>
                                </div>
                                <input type="text" id="videoTitle" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片名稱">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">上傳</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="select-file">
                                    <label class="custom-file-label" for="select-file-button"
                                        id="file-text">選擇檔案</label>
                                </div>
                            </div>
                            <script>
                                var selectFile = document.getElementById('select-file');
                                var fileText = document.getElementById('file-text');
                                selectFile.addEventListener('change', function () {
                                    var fileName = selectFile.files[0].name;

                                    fileText.innerHTML = fileName;
                                });
                            </script>
                            <div class="row">
                                <div class="col">
                                    <div class="progress mt-1" id="uploadProgressBar">
                                        <div id="uploadPersent" class="progress-bar " role="progressbar"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <p id="persentText" class="mt-3 px-1">0%</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <table id="uploadVideoList" class="table table-hover" style="display: none">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">影片名稱</th>
                                        <th scope="col">影片網址</th>
                                    </tr>
                                </thead>
                                </tbody>

                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning"
                                    id="execute-request-button">登入老師youtube影片帳號</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="upload-file-button">上傳</button>
                            </div>

                        </div>
                        <!-- end of file upload panel -->

                        <!-- URL upload panel -->
                        <div class="tab-pane" id="URLTab">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">影片名稱</span>
                                </div>
                                <input id="URL-videoName" type="text" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片名稱">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">影片網址</span>
                                </div>
                                <input id="URL-videoURL" type="text" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default" placeholder="請輸入影片網址">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="progress mt-1" id="uploadProgressBar" style="background: none">
                                        <div id="uploadPersent" style="display: none" class="progress-bar "
                                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <p id="persentText" class="mt-3 px-1">0%</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="upload-videoURL-button">上傳</button>
                            </div>
                        </div>
                        <!-- end of URL upload panel -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end of 影片上傳model -->

    <!-- 上傳講義Modal -->
    <div class="modal fade" id="addLecture" tabindex="-1" role="dialog" aria-labelledby="addLectureLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLectureLabel">新增教材</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- TODO 加入新增講義功能 要想辦法拿到unit_id -->
                    <form method="POST" action="/class/unit/addLecture">
                        <input type="text" id="unitID" style="display: none" name="unitID">
                        <input type="text" name="classID" style="display: none"  value="<%=classinfo._id%>">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">教材名稱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="DiscussTitle" placeholder="請輸入講義名稱"
                                    name="title">
                            </div>
                        </div>

                        <p>教材內容</p>
                        <div class="md-form">
                            <textarea type="text" id="LectureDetail" class="md-textarea form-control" rows="10"
                                name="body"></textarea>
                        </div>
                        <br>
                        <input id="addNewChapterbtn" type="submit" onclick="this.style.visibility = 'hidden'"
                            class="btn btn-primary float-right" value="新增">
                    </form>

                    <div id="example1" class="taggle_list"></div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <!-- end of 上傳講義Modal -->

    <!-- 測驗上傳Modal -->
    <div class="modal fade" id="uploadTestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;max-width: 70%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TestORHomeWork">新增測驗</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row pr-3" style="height:75%">
                        <div class="col-5 h-100">
                            <div
                                style="display:flex;flex-direction:column;justify-content: space-between;height:30%;padding-bottom:1rem">
                                <div style="display:flex">
                                    <label for="staticEmail" id="testName" class="col-form-label"
                                        style="width:20%;white-space:nowrap">測驗名稱</label>
                                    <input class="form-control" id="testNameinput" type="text" style="width:80%"
                                        placeholder="請輸入測驗名稱">
                                </div>
                                <div style="display:flex">
                                    <label for="staticEmail" class="col-form-label"
                                        style="width:20%;white-space:nowrap">公開時間</label>
                                    <input type="datetime-local" class="form-control" style="width:80%"
                                        onchange="setEndTime(this)" id="publicTime">
                                </div>
                                <div style="display:flex">
                                    <label for="staticEmail" class="col-form-label "
                                        style="width:20%;white-space:nowrap">結束時間</label>
                                    <input type="datetime-local" class="form-control" style="width:80%"
                                        id="EndpublicTime">
                                </div>
                                <div style="display:flex">
                                    <label for="staticEmail" class="col-form-label"
                                        style="width:20%;white-space:nowrap">題目類別</label>
                                    <select id="inputState" class="form-control" style="width:80%"
                                        onchange="changeTypeOfQution(this)">
                                        <option selected>選擇題</option>
                                        <option>是非題</option>
                                        <option>填空題</option>
                                        <option>程式題</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control"
                                style="height: 70%;overflow-y:scroll;border:1px solid #ccc;padding:1rem">
                                <div id="MCQ">
                                    <%include layout/MCQ %>
                                </div>
                                <div id="YNQ" style="display:none">
                                    <%include layout/YNQ %>
                                </div>
                                <div id="FBQ" style="display:none">
                                    <%include layout/FBQ %>
                                </div>
                                <div id="PGQ" style="display:none">
                                    <%include layout/PGQ %>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 h-100" style="background:rgba(239, 235, 247, 1);overflow-y:scroll"
                            id="QuationList">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" class="btn btn-primary ml-2" id="publishScoreNow">測驗結束立刻公佈成績</input>
                    <input type="checkbox" class="btn btn-primary ml-2"
                        id="canCheckQuestionAndAnswer">學生可查看題目與答案</input>
                    <button type="button" class="btn btn-primary ml-2" onclick="saveQutionList()">儲存題目</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of 測驗上傳Modal -->
</div>
</div>

<!-- 重新命名Modal -->
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">重新命名</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>請輸入新的名稱：</p>
            <input type="text" class="form-control" id = "newName">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" id = "saveRenameBTN" class="btn btn-primary" onclick="saveChapterRename()" >儲存</button>
        </div>
        </div>
    </div>
</div>


<script>
    let canManage = false
</script>
<%if(user._id == classinfo.teacher || isTA){%>
<script>
    canManage = true
</script>
<%}%>
<script>
    let selectedUnit = "unit0"
    let selectedUnitID = "<%=units[0]._id%>"
    window.onload = function () {
        console.log("--------onload----------");
        let unit0 = document.getElementById('unit0'); 
        console.log("unit0 = ");
        
        console.log(unit0);
        
        if (unit0 != null) {
            unit0.childNodes[0].click();
            console.log("in unit0 click");
            unit0.focus();
            //showVideo();
            document.getElementById('unitID').value = selectedUnitID
        }
    }

    function createNewUnit() {
        let unitName = document.getElementById('unitName');
        window.location = '/class/<%=classinfo._id%>/addUnit/' + unitName.value;
    }

    let selectUnit = function (Unit_i, Unitid) {
        console.log("in selectUnit");
        selectedUnit = Unit_i;
        selectedUnitID = Unitid;
        let videoTab = document.getElementById('videoTab');
        videoTab.click();
        document.getElementById('unitID').value = selectedUnitID
    }
    console.log(selectedUnit);

    let videoTab = document.getElementById('videoTab');
    let chapterTab = document.getElementById('chapterTab');
    let testTab = document.getElementById('testTab');
    let myscheduleTab = document.getElementById('myscheduleTab');

    let showVideo = function () {
        console.log("in showVideo");
        
        videoTab.className = "nav-link active";
        chapterTab.className = "nav-link ";
        testTab.className = "nav-link ";
        myscheduleTab.className = "nav-link ";
        let videoTable = document.getElementById('videoTable');
        videoTable.innerHTML = "";
        $.ajax({
            url: '/api/getVideoInUnit/' + selectedUnitID,
            type: 'GET',
            beforeSend: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "none"
            },
            error: function (error) {
                alert(error.error);
            },
            success: function (response) {
                response = JSON.parse(response);
                console.log(response.videos)
                if(canManage){ // 是管理者
                    videoTable.innerHTML = `
                    <i class="fas fa-plus-circle"
                        style="position: fixed;bottom: 5rem;right: 5rem;font-size: 3rem;color: rgb(78,167,150)" id="newVideo"
                        data-toggle="modal" data-target="#uploadVideoModal">
                    </i>`
                    videoTable.innerHTML += `
                    <tr>
                        <th>影片</th>
                        <th>日期</th>
                        <th>觀看次數</th>
                        <th>留言數</th>
                        <th style = "text-align:center">刪除</th>
                    </tr>
                    `
                    for (let i = 0; i < response.videos.length; i++) {
                        let date = "undefind";
                        if (response.videos[i].postTime != undefined) {
                            date = response.videos[i].postTime
                        }
                        videoTable.style.cssText = "";
                        videoTable.innerHTML += `
                            <tr>
                            <td onclick="window.location='/class/showVideo/${response.videos[i]._id}'">
                                <div style="display:flex">
                                    <img src="https://img.youtube.com/vi/${response.videos[i].videoURL}/0.jpg" style="width:8.8rem;height:5rem"></img>
                                    <span class="videoName" style="margin-left:1rem">${response.videos[i].videoName}</span>
                                </div>
                            </td>
                            <td>${date}</td>
                            <td>${response.videos[i].watchTime}</td>
                            <td>${response.videos[i].comments.length}</td>
                            <td style = "text-align:center"><i class="fas fa-trash-alt" onclick="deleteVideo('${response.videos[i].videoName}','${response.videos[i]._id}')"></i></td>
                            </tr>
                        `
                    }

                }else{
                    videoTable.innerHTML += `
                    <tr>
                        <th>影片</th>
                        <th>日期</th>
                        <th>觀看次數</th>
                        <th>留言數</th>
                    </tr>
                    `
                    for (let i = 0; i < response.videos.length; i++) {
                        let date = "undefind";
                        if (response.videos[i].postTime != undefined) {
                            date = response.videos[i].postTime
                        }
                        videoTable.style.cssText = "";
                        videoTable.innerHTML += `
                            <tr>
                            <td onclick="window.location='/class/showVideo/${response.videos[i]._id}'">
                                <div style="display:flex">
                                    <img src="https://img.youtube.com/vi/${response.videos[i].videoURL}/0.jpg" style="width:8.8rem;height:5rem"></img>
                                    <span class="videoName" style="margin-left:1rem">${response.videos[i].videoName}</span>
                                </div>
                            </td>
                            <td>${date}</td>
                            <td>${response.videos[i].watchTime}</td>
                            <td>${response.videos[i].comments.length}</td>
                            </tr>
                        `
                    }
                }
            }
        })
    }
    let deleteUnit = function(unitName,unitID){
        console.log(unitName,unitID);
        
        if(confirm('確定要刪除"'+unitName+'"單元嗎?')){
            $.ajax({
                type: 'POST',
                url: '/api/deleteUnit/'+ unitID,
                type: 'POST',
                beforeSend: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    console.log(response);
                    window.location = "/class/newClassManager/<%=classinfo._id%>";
                    alert('刪除成功!');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }else{

        }
    }


    let showChapter = function () {
        videoTab.className = "nav-link";
        chapterTab.className = "nav-link active";
        testTab.className = "nav-link ";
        myscheduleTab.className = "nav-link ";
        let videoTable = document.getElementById('videoTable');
        videoTable.innerHTML = "";
        $.ajax({
            url: '/api/getChapterInUnit/' + selectedUnitID,
            type: 'GET',
            beforeSend: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "none"
            },
            error: function (error) {
                alert(error.error);
            },
            success: function (response) {
                response = JSON.parse(response);
                console.log(response.comment);
                console.log(response.chapter)
                let chapters = response.chapter;
                if(canManage){
                    videoTable.innerHTML = `
                    <i class="fas fa-plus-circle"
                        style="position: fixed;bottom: 5rem;right: 5rem;font-size: 3rem;color: rgb(78,167,150)";data-toggle="modal" onclick="$('#addLecture').modal();" data-target="#addLecture">
                    </i>`;
                }
                
                videoTable.style.cssText =
                    "display:flex;flex-wrap:wrap;justify-content: start;"
                for (let i = 0; i < chapters.length; i++) {
                    videoTable.innerHTML += `
                    <div class="card mt-3 mr-3" style="width: 12rem;height:16.97rem;">
                        <div style="height:5rem;display:flex;justify-content: center;flex-direction:column;text-align:left;border-bottom:1px solid rgb(200,200,200)" >
                            <div style="display:flex;justify-content: space-between">
                                <i class="fas fa-file-alt" style="padding:0.5rem;font-size:22px;color:rgb(83,132,246)"></i>
                                <div class="dropdown">
                                    <i class="fas fa-ellipsis-v" style="padding:0.5rem;font-size:16px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onclick = "renameChapter('${chapters[i].chapterName}','${chapters[i]._id}')">重新命名</a>
                                        <a class="dropdown-item" href="#" onclick = "deleteChapter('${chapters[i].chapterName}','${chapters[i]._id}')">刪除</a>
                                    </div>
                                </div>
                            </div>
                            <p style="margin:0;padding:0.5rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">${chapters[i].chapterName}</p>
                        </div>
                        <div class="card-body p-2" style="height:11.8rem;background: linear-gradient(rgb(250,250,250) 10%,white 90%);" onclick = "window.location = '/class/showChapter/${chapters[i]._id}'">
                            <div class="card-text h-100" style="width:100%;height:95%;overflow:hidden;font-size:1px">${chapters[i].body}</div>
                        </div>
                    </div>
                    `
                }
            }

        })
    }

    let showTest = function () {
        videoTab.className = "nav-link";
        chapterTab.className = "nav-link";
        testTab.className = "nav-link active";
        myscheduleTab.className = "nav-link ";
        let videoTable = document.getElementById('videoTable');
        videoTable.innerHTML = "";
        console.log("test");

        $.ajax({
            url: '/api/getTestInUnit/' + selectedUnitID,
            type: 'GET',
            beforeSend: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "none"
            },
            error: function (error) {
                alert(error.error);
            },
            success: function (response) {
                response = JSON.parse(response);
                console.log(response);
                console.log(response.tests)
                let tests = response.tests;
                videoTable.style.cssText = "display:flex;flex-wrap:wrap;justify-content: start;"
                if(canManage){
                    videoTable.innerHTML = `
                    <i class="fas fa-plus-circle"
                        style="position: fixed;bottom: 5rem;right: 5rem;font-size: 3rem;color: rgb(78,167,150)" data-toggle="modal" data-target="#uploadTestModal" onclick="TestModel()">
                    </i>`;
                }
                

                for (let i = 0; i < tests.length; i++) {
                    videoTable.innerHTML += `
                    <div class="card mt-3 mr-3" style="width: 12rem;height:16.97rem;">
                        <div style="height:5rem;display:flex;justify-content: center;flex-direction:column;text-align:left;border-bottom:1px solid rgb(200,200,200)" >
                            <div style="display:flex;justify-content: space-between">
                                <i class="fas fa-pen-alt" style="padding:0.5rem;font-size:22px;color:black"></i>
                                <div class="dropdown">
                                    <i class="fas fa-ellipsis-v" style="padding:0.5rem;font-size:16px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onclick="renameTest('${tests[i].testName}','${tests[i]._id}')">重新命名</a>
                                        <a class="dropdown-item" href="#" onclick="deleteTest('${tests[i].testName}','${tests[i]._id}')">刪除</a>
                                    </div>
                                </div>
                            </div>
                            <p style="margin:0;padding:0.5rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">${tests[i].testName}</p>
                        </div>
                        <div class="card-body p-2" style="height:11.8rem;background: linear-gradient(rgb(250,250,250) 10%,white 90%);" onclick = "window.location = '/class/showTest/${tests[i]._id}'">
                            <div class="card-text h-100" style="width:100%;height:95%;overflow:hidden;white-space:nowrap;display: flex;justify-content: center;flex-direction: column;text-align: center;font-size:5rem;color:rgb(246,194,155)"><i class="fas fa-align-left"></i></div>
                        </div>
                    </div>
                    `
                }
            }

        })
    }

    let renameMaterialID = "";//要被命名的教材(講義or測驗)的id
    let renameMaterialName = "";//要被命名的教材(講義or測驗)的新名稱

    
    //講義重新命名
    let renameChapter = function(chapteName,chapterID){
        $('#renameModal').modal();
        let newNameText = document.getElementById('newName');
        let saveRenameBTN = document.getElementById('saveRenameBTN');
        saveRenameBTN.setAttribute('onclick','saveChapterRename()');//把改名視窗的儲存按鈕的onclick設定成儲存測驗名稱
        newNameText.value = chapteName;//先把原本的名字設定上
        renameMaterialID = chapterID;
    }

    //測驗重新命名
    let renameTest = function(testName,TestID){
        $('#renameModal').modal();
        let newNameText = document.getElementById('newName');
        let saveRenameBTN = document.getElementById('saveRenameBTN');
        saveRenameBTN.setAttribute('onclick','saveTestRename()');//把改名視窗的儲存按鈕的onclick設定成儲存測驗名稱
        console.log(saveRenameBTN);
        
        newNameText.value = testName;//把原本的名字設定上
        renameMaterialID = TestID
    }

    let saveChapterRename = function(){
        renameMaterialName = document.getElementById('newName').value;
        $.ajax({
            type: 'POST',
            url: '/api/renameChapter/'+ renameMaterialID,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                chapterName: renameMaterialName
            }),
            dataType: 'json',
            beforeSend: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "none"
            },
            success: function (response) {
                console.log(response);
                showChapter();
                $('#renameModal').modal('hide');
                alert('更改成功!');
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    let saveTestRename = function(){
        renameMaterialName = document.getElementById('newName').value;
        
        $.ajax({
            type: 'POST',
            url: '/api/renameTest/'+ renameMaterialID,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                testName: renameMaterialName
            }),
            dataType: 'json',
            beforeSend: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('line-loader');
                loader.style.display = "none"
            },
            success: function (response) {
                console.log(response);
                showTest();
                $('#renameModal').modal('hide');
                alert('更改成功!');
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    let deleteChapter = function(chapteName,chapterID){
        if(confirm('確定要刪除"'+chapteName+'"講義嗎?')){
            $.ajax({
                type: 'POST',
                url: '/api/deleteChapter/'+ chapterID,
                type: 'POST',
                beforeSend: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    console.log(response);
                    showChapter();
                    alert('刪除成功!');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }else{

        }
    }
    let deleteTest = function(testName,testID){
        if(confirm('確定要刪除"'+testName+'"講義嗎?')){
            $.ajax({
                type: 'POST',
                url: '/api/deleteTest/'+ testID,
                type: 'POST',
                beforeSend: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    console.log(response);
                    showTest();
                    alert('刪除成功!');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }else{

        }
    }

    let deleteVideo = function(videoName,videoID){
        if(confirm('確定要刪除"'+videoName+'"影片嗎?')){
            $.ajax({
                type: 'POST',
                url: '/api/deleteVideo/'+ videoID,
                type: 'POST',
                beforeSend: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    console.log(response);
                    showVideo();
                    alert('刪除成功!');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }else{

        }
    }

    let uploadvideoURLbutton = document.getElementById('upload-videoURL-button');
    uploadvideoURLbutton.onclick = function () {
        //let classID = document.getElementById('classID').innerText.replace(/\s/g, '');
        let videoname = document.getElementById('URL-videoName').value;
        let videoURL = document.getElementById('URL-videoURL').value;
        let url = '';
        var pos = videoURL.indexOf("watch?v=");
        var end = videoURL.indexOf("&");
        if (end = -1) {
            end = videoURL.length
        }
        console.log(end);

        if (pos != -1) {
            url = videoURL.substring(pos + 8, end);
            console.log("url=" + url);
        }
        let verifyYoutubeUrl = 'https://www.youtube.com/';
        let verifyYoutube = verifyYoutubeUrl.indexOf(verifyYoutubeUrl);
        console.log("verifyYoutube" + verifyYoutube);
        let Date1 = new Date().toLocaleString('zh-TW', {
            timeZone: 'Asia/Taipei'
        });

        if (verifyYoutube >= 0) { //如果是youtube的網址
            $.ajax({
                type: 'POST',
                url: '/class/' + selectedUnitID + '/addvideo/' +
                    videoname +
                    '/' + url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    date: Date1
                }),
                dataType: 'json',
                beforeSend: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('line-loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    console.log(response);
                    $('#uploadVideoModal').modal('hide');
                    showVideo();
                    alert('新增成功!');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
            alert('您輸入的網址不是youtube的影片！')
        }


    }
    CKEDITOR.replace('LectureDetail', {
        height: 400,
        filebrowserUploadUrl: '/uploader',
        //記得加下面那行  filebrowserUploadMethod: 'form'
        filebrowserUploadMethod: 'form',
    });

    let TestORHomeWorkMode = ""
    let HomeWorkModel = function () {
        console.log("home");
        let exampleModalLabel = document.getElementById('TestORHomeWork');
        exampleModalLabel.innerHTML = "新增作業";
        let testnameLabel = document.getElementById('testName');
        testnameLabel.innerHTML = "作業名稱";
        let testName = document.getElementById('testNameinput');
        testName.placeholder = "請輸入作業名稱";
        TestORHomeWorkMode = "HomeWork";
        console.log(TestORHomeWorkMode);

    }
    let TestModel = function () {
        console.log("asd");
        let exampleModalLabel = document.getElementById('TestORHomeWork');
        exampleModalLabel.innerHTML = "新增測驗"
        let testnameLabel = document.getElementById('testName');
        testnameLabel.innerHTML = "測驗名稱";
        let testName = document.getElementById('testNameinput');
        testName.placeholder = "請輸入測驗名稱";
        TestORHomeWorkMode = "Test"
        console.log(TestORHomeWorkMode);

    }


    let MCQ = document.getElementById('MCQ');
    let YNQ = document.getElementById('YNQ');
    let FBQ = document.getElementById('FBQ');
    let PGQ = document.getElementById('PGQ');
    let changeTypeOfQution = function functionName(e) {
        console.log("onchange");
        if (e.value == "選擇題") {
            MCQ.style.cssText = "display:block";
            YNQ.style.cssText = "display:none";
            FBQ.style.cssText = "display:none";
            PGQ.style.cssText = "display:none";
        } else if (e.value == "是非題") {
            MCQ.style.cssText = "display:none";
            YNQ.style.cssText = "display:block";
            FBQ.style.cssText = "display:none";
            PGQ.style.cssText = "display:none";
        } else if (e.value == "填空題") {
            MCQ.style.cssText = "display:none";
            YNQ.style.cssText = "display:none";
            FBQ.style.cssText = "display:block";
            PGQ.style.cssText = "display:none";
        } else if (e.value == "程式題") {
            MCQ.style.cssText = "display:none";
            YNQ.style.cssText = "display:none";
            FBQ.style.cssText = "display:none";
            PGQ.style.cssText = "display:block";
        }
    }

    let QuationList = [];

    function updateCreatedQutionList(newQution) {
        QuationList.push(newQution);
        updateQutionList();
    }

    function updateQutionList() {
        let QuationListDIV = document.getElementById('QuationList');
        QuationListDIV.innerHTML = "";
        let indexofQution = 0;
        QuationList.forEach(function (newQution) {
            if (newQution.type == '選擇題') {
                // <div class="alert alert-warning alert-dismissible fade show" role="alert">
                //     <h5>題目類型：選擇題</h5>
                //     <h6>題目：我有10顆蘋果吃了兩顆請問還剩幾科</h6>
                //     <p>A:9顆 B:8顆 C:7顆 D:6顆</p>
                //     <p>正確答案:(B) 8顆</p>
                //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                //         <span aria-hidden="true">&times;</span>
                //     </button>
                // </div>
                let div = document.createElement('div');
                div.className = 'alert alert-light alert-dismissible fade show mt-3';
                div.style.cssText = "color:black";
                div.setAttribute('onclick', `editQution(${indexofQution})`);
                let h5 = document.createElement('h5');
                h5.innerText = "題目類型：選擇題";
                let h6 = document.createElement('h6');
                h6.innerText = `題目：${newQution.qutionName}`;
                let p1 = document.createElement('div');
                p1.innerHTML += "<h6>選項：</h6>"
                for (let i = 0; i < newQution.selection.length; i++) {
                    p1.innerHTML += `<div class="form-group row answer1">
                                <div class="col-sm-1 answer1-check-col">
                                    <i class="far fa-circle" style="padding:12px"></i>
                                </div>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-border" disabled style="background:none" value=${newQution.selection[i]}>
                                </div>
                            </div>`
                }
                let p2 = document.createElement('p');
                let correctanswer = '未設定'
                if (newQution.correctAnswers.length != 0) {
                    correctanswer = "";
                    for (let i = 0; i < newQution.correctAnswers.length; i++) {
                        correctanswer += newQution.correctAnswers[i];
                        if (i < newQution.correctAnswers.length - 1) {
                            correctanswer += " 與 "
                        }
                    }
                }
                p2.innerText = `正確答案：${correctanswer}`;
                let p3 = document.createElement('p');
                p3.innerText = '配分：' + newQution.score;
                let btn = document.createElement('button');
                btn.className = 'close';
                btn.setAttribute("data-dismiss", "alert");
                btn.setAttribute("aria-label", "Close");
                btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

                let span = document.createElement('span');
                span.attributes = 'aria-hidden="true"';
                span.setAttribute("aria-hidden", "true");
                span.innerHTML = '&times;';
                btn.appendChild(span);
                div.appendChild(h5);
                div.appendChild(h6);
                div.appendChild(p1);
                div.appendChild(p2);
                div.appendChild(p3);
                div.appendChild(btn);

                QuationListDIV.appendChild(div);
            }
            if (newQution.type == '是非題') {
                // <div class="alert alert-warning alert-dismissible fade show" role="alert">
                //     <h5>題目類型：是非題</h5>
                //     <h6>題目：我是不是一個帥哥？</h6>
                //     <p>正確答案:是</p>
                //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                //         <span aria-hidden="true">&times;</span>
                //     </button>
                // </div>
                let div = document.createElement('div');
                div.className = 'alert alert-light alert-dismissible fade show mt-3';
                div.style.cssText = "color:black";
                div.setAttribute('onclick', `editQution(${indexofQution})`);
                let h5 = document.createElement('h5');
                h5.innerText = "題目類型：是非題";
                let h6 = document.createElement('h6');
                h6.innerText = `題目：${newQution.qutionName}`;
                let p = document.createElement('p');
                if (newQution.correctAnswers == 'yes') {
                    p.innerHTML = '正確答案：是';
                }
                if (newQution.correctAnswers == 'no') {
                    p.innerHTML = '正確答案：否';
                }
                let p3 = document.createElement('p');
                p3.innerText = '配分：' + newQution.score;
                let btn = document.createElement('button');
                btn.className = 'close';
                btn.setAttribute("data-dismiss", "alert");
                btn.setAttribute("aria-label", "Close");
                btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

                let span = document.createElement('span');
                span.attributes = 'aria-hidden="true"';
                span.setAttribute("aria-hidden", "true");
                span.innerHTML = '&times;';
                btn.appendChild(span);
                div.appendChild(h5);
                div.appendChild(h6);
                div.appendChild(p);
                div.appendChild(p3);
                div.appendChild(btn);
                QuationListDIV.appendChild(div);

            }
            if (newQution.type == '填空題') {
                // <div class="alert alert-warning alert-dismissible fade show" role="alert">
                //     <h5>題目類型：填空題</h5>
                //     <h6>題目：請寫出這學期上這堂課之後的心得</h6>
                //     <p>正確答案:無設定正確答案</p>
                //     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                //         <span aria-hidden="true">&times;</span>
                //     </button>
                // </div>
                let div = document.createElement('div');
                div.className = 'alert alert-light alert-dismissible fade show mt-3';
                div.style.cssText = "color:black";
                div.setAttribute('onclick', `editQution(${indexofQution})`);
                let h5 = document.createElement('h5');
                h5.innerText = "題目類型：填空題";
                let h6 = document.createElement('h6');
                h6.innerText = `題目：${newQution.qutionName}`;
                let p = document.createElement('div');
                p.innerHTML += "<h6>答案：</h6>"
                for (let i = 0; i < newQution.correctAnswers.length; i++) {
                    let input = document.createElement('input');
                    input.className = "form-control mb-1";
                    input.value = newQution.correctAnswers[i];
                    p.appendChild(input)
                }
                let p3 = document.createElement('p');
                p3.innerText = '配分：' + newQution.score;
                let btn = document.createElement('button');
                btn.className = 'close';
                btn.setAttribute("data-dismiss", "alert");
                btn.setAttribute("aria-label", "Close");
                btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

                let span = document.createElement('span');
                span.attributes = 'aria-hidden="true"';
                span.setAttribute("aria-hidden", "true");
                span.innerHTML = '&times;';
                btn.appendChild(span);
                div.appendChild(h5);
                div.appendChild(h6);
                div.appendChild(p);
                div.appendChild(p3);
                div.appendChild(btn);
                QuationListDIV.appendChild(div);
            }
            if (newQution.type == '程式題') {
                //             div class="alert alert-warning alert-dismissible fade show" role="alert">
                //                 <h5>題目類型：程式題</h5>
                //                 <h6>題目：請用c語言print出下列圖形</h6>
                //                 <p>輸入說明:輸入一個n且為正整數</p>
                //                 <p>輸出說明:印出n階的三角形 註:不可直接印出此圖形</p>
                //                 <pre>範例輸入:3</pre>
                //                 <pre>範例輸出:
                // *
                // **
                // ***
                //                 </pre>

                //                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                //                     <span aria-hidden="true">&times;</span>
                //                 </button>
                let div = document.createElement('div');
                div.className = 'alert alert-light alert-dismissible fade show mt-3';
                div.style.cssText = "color:black";
                div.setAttribute('onclick', `editQution(${indexofQution})`);
                let h5 = document.createElement('h5');
                h5.innerText = "題目類型：程式題";
                let h6 = document.createElement('h6');
                h6.innerText = `題目：${newQution.qutionName}`;
                let p1 = document.createElement('p');
                p1.innerHTML = `輸入說明：${newQution.inputDescription}`;
                let p2 = document.createElement('p');
                p2.innerHTML = `輸出說明：${newQution.outputDescription}`;
                let p3 = document.createElement('pre');
                p3.innerHTML = `輸入範例：\n${newQution.inputExample}`;
                let p4 = document.createElement('pre');
                p4.innerHTML = `輸出範例：\n${newQution.outputExample}`;
                let btn = document.createElement('button');
                let p5 = document.createElement('p');
                p5.innerText = '配分：' + newQution.score;
                btn.className = 'close';
                // btn.attributes = 'data-dismiss="alert" aria-label="Close" qutionID=' + QuationList.length - 1;
                btn.setAttribute("data-dismiss", "alert");
                btn.setAttribute("aria-label", "Close");
                btn.setAttribute("onclick", `deleteQutioListItem(${indexofQution})`);

                let span = document.createElement('span');
                span.attributes = 'aria-hidden="true"';
                span.setAttribute("aria-hidden", "true");
                span.innerHTML = '&times;';
                btn.appendChild(span);
                div.appendChild(h5);
                div.appendChild(h6);
                div.appendChild(p1);
                div.appendChild(p2);
                div.appendChild(p3);
                div.appendChild(p4);
                div.appendChild(p5);
                div.appendChild(btn);
                QuationListDIV.appendChild(div);
            }
            indexofQution += 1;
        })
    }

    function editQution(id) {
        console.log(QuationList[id]);
        if (QuationList[id].type == "選擇題") {
            editMCQ(QuationList[id], id);
            changeTypeOfQution({
                value: "選擇題"
            })
        }
        if (QuationList[id].type == "是非題") {
            editYNQ(QuationList[id], id);
            changeTypeOfQution({
                value: "是非題"
            })
        }
        if (QuationList[id].type == "填空題") {
            editFBQ(QuationList[id], id);
            changeTypeOfQution({
                value: "填空題"
            })
        }
        if (QuationList[id].type == "程式題") {
            editPGQ(QuationList[id], id);
            changeTypeOfQution({
                value: "程式題"
            })
        }
    }

    function deleteQutioListItem(id) {
        QuationList[id] = '';
        console.log(QuationList);
    }
    //設定測驗發佈時間最早為今天
    let today = new Date().toLocaleString('zh-TW', {
        timeZone: 'Asia/Taipei'
    });
    console.log("today = ", today);
    let split = today.split(" ");
    let ymd = split[0];
    let hm = split[1];
    console.log("hm = ", hm);
    ymd = ymd.split("/");
    console.log("ymd = ", ymd);
    let yyyy = ymd[0];
    let mm = ymd[1];
    if (parseInt(mm) < 10) {
        mm = "0" + mm
    }
    let dd = ymd[2];
    if (parseInt(dd) < 10) {
        dd = "0" + dd
    }
    console.log("yyyy = ", yyyy, " mm = ", mm, " dd = ", dd);
    console.log("hm = ", hm);
    let hh = "";
    let minute = "";
    if (hm.indexOf("上午") != -1) {
        hm = hm.split(":");
        hh = hm[0].replace("上午", "");
        if (parseInt(hh) < 10) {
            hh = "0" + hh
        }
        minute = hm[1];
        if (parseInt(minute) < 10) {
            minute = "0" + minute
        }
    } else if (hm.indexOf("下午") != -1) {
        hm = hm.split(":");
        hh = hm[0].replace("下午", "");
        if (parseInt(hh) < 10) {
            hh = "0" + hh
        }
        minute = hm[1];
        minute = hm[1];
        if (parseInt(minute) < 10) {
            minute = "0" + minute
        }
    }
    today = yyyy + '-' + mm + '-' + dd + "T" + hh + ":" + minute;
    document.getElementById("publicTime").setAttribute("min", today);
    document.getElementById("publicTime").value = today
    document.getElementById("EndpublicTime").setAttribute("min", today)
    document.getElementById("EndpublicTime").value = today

    //當使用者選擇發佈時間時 要將結束時間設定成發佈時間之後
    let setEndTime = function (startTime) {
        console.log(startTime.value);
        document.getElementById("EndpublicTime").setAttribute("min", startTime.value)
        document.getElementById("EndpublicTime").value = startTime.value
    }

    function saveQutionList() {
        QuationList = QuationList.filter(list => list != '');
        let testName = document.getElementById('testNameinput');
        let unitID = document.getElementById('unitID').innerText.replace(/\s/g, '');
        let publicTime = new Date(document.getElementById('publicTime').value);
        let EndpublicTime = new Date(document.getElementById('EndpublicTime').value);
        let publishScoreNow = document.getElementById('publishScoreNow').checked;
        let canCheckQuestionAndAnswer = document.getElementById('canCheckQuestionAndAnswer').checked;
        console.log(publishScoreNow);
        console.log(canCheckQuestionAndAnswer);
        // let today = new Date();
        // var timeDiff = (publicTime.getTime() - today.getTime())/1000;
        // console.log(timeDiff);

        let testinfo = {
            testName: testName.value,
            QuationList: QuationList,
            belongUnit: selectedUnitID,
            publicTime: publicTime,
            EndpublicTime: EndpublicTime,
            isPublic: false,
            publishScoreNow: publishScoreNow,
            canCheckQuestionAndAnswer: canCheckQuestionAndAnswer
        }
        console.log(testinfo);

        //TODO
        //傳到伺服器存起來
        if (TestORHomeWorkMode == "Test") {
            console.log("Test mode");
            $.ajax({
                url: '/class/addTest/class/<%=classinfo._id%>/unit/' + selectedUnitID,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(testinfo),
                dataType: 'json',
                success: function (response) {
                    console.log(response);

                    alert('新增成功');
                    $('#uploadTestModal').modal('hide')
                    showTest();
                },
                error: function (err) {
                    alert('錯誤訊息：' + err.responseJSON.msg);
                }
            });
        }
        if (TestORHomeWorkMode == "HomeWork") {
            console.log("homework mode");
            $.ajax({
                url: '/class/addHomeWork/class/<%=classinfo._id%>/unit/' + unitID,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(testinfo),
                dataType: 'json',
                success: function (response) {
                    alert('新增成功');
                    window.location.href = '/class/<%=classinfo._id%>/showUnit/' + unitID;
                },
                error: function (err) {
                    alert('錯誤訊息：' + err.responseJSON.msg);
                }
            });
        }

    }
</script>
<script src="/js/uploadVideo.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

<% include layout/nobottom-footer %>