<% include layout/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
  .banner a:hover{
      color:#DDD;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 30px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider1 {
    background-color: #ccc;
  }
  input:focus + .slider1 {
    box-shadow: 0 0 1px #ccc;
  }
  input:checked + .slider1:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
  }
  /* Rounded sliders */
  .slider1.round {
    border-radius: 34px;
  }
  .slider1.round:before {
    border-radius: 50%;
  }
</style>

<div>
  <span style="font-size:30px;">助教清單</span>
  <%if(classinfo.teacher == user._id){%>
  <button class="btn btn-primary btn-sm" style="float:right" data-toggle="modal" data-target="#addAssistantModal">新增助教</button>
  <%}%>
  <div class="modal fade" id="addAssistantModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新增助教</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="height:300px;overflow-y:scroll;">
          <p>請輸入學生姓名:</p>
          <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="搜索...">
          <!--全部學生列表-->
          <ul id="myUL" style="list-style-type:none;padding:10px">
            <!-- <%temp = 0%>
                  <%users.forEach(function(user){%>
                  <%if(user.permission!="teacher"){%>
                  <li><input type="checkbox" value="<%=user._id%>"><span>&nbsp;&nbsp;<%=user.username%></span></li>
                  <%}%>
                  <%temp++%>
                  <%})%> -->
            <%for(let i = 0;i<users.length;i++){%>
            <%for(let j = 0;j<students.length;j++){%>
            <%if(users[i]._id == students[j].studentID){%>
            <!--如果他是本班的學生-->
            <%if(students[j].permission == "11111"){%>
            <!--且他只是本班(不是助教)就可以被選為助教-->
            <li><input type="checkbox" value="<%=users[i]._id%>"><span>&nbsp;&nbsp;
                <%=users[i].name%></span></li>
            <%}%>
            <%}%>
            <%}%>
            <%}%>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button class="btn btn-primary" onclick="checkAssistant()">確定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th style="padding:8px 0px" width="6.5%">
        <%if(classinfo.teacher == user._id){%>
        <div class="row" style="display:flex;align-items:center;flex-wrap: nowrap;">
          <div style="display:flex;">
            <button class="btn div-left" onclick="deleteAssistant()"><i class="fa fa-trash " style="opacity: 0.4;cursor: not-allowed;height:23px;" id="selectstatus"></i></button>
          </div>
          <div style="display:flex;">
            <input type="checkbox" name="all" onclick="check_all(this,'c')" style="zoom: 2" id="allstatus">
          </div>
          <div class="dropdown" style="display:flex;">
            <button class="btn" style="padding:0px" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: 4rem;padding:0px">
              <a class="dropdown-item" href="#" style="padding:0 10px" onclick="allselect('c')">全選</a>
              <a class="dropdown-item" href="#" style="padding:0 10px" onclick="allnotselect('c')">全不選</a>
            </div>
          </div>
        </div>
        <%}%>
      </th>
      <th class="text-center" scope="col" width="12%">助教名單</th>
      <th class="text-center" scope="col" width="21%">管理單元</th>
      <th class="text-center" scope="col" width="21%">審核成員</th>
      <th class="text-center" scope="col" width="21%">批閱測驗</th>
      <th class="text-center" scope="col" width="21%">修改課程</th>
    </tr>
  </thead>
  <tbody>
    <%temp = 0%>
    <%Assistants.forEach(function(user){%>
    <%if(students[temp].permission != '11111'&&students[temp].permission != '00000'){%>
    <tr>
      <td class="text-center">
          <div class="text-danger" id="delAssistant<%=temp%>" style="padding:0px;margin:4px;">
              <input type="checkbox" value="<%=students[temp].studentID%>" name="c" style="zoom: 2" onclick="showdelbutton()">
          </div>
      </td>
      <td class="text-center">
        <%=user.name%>
      </td>
      <td class="text-center">
        <label class="switch">
          <input type="checkbox" id="Assistantid<%=temp%>" data-id="<%=user._id%>" onclick="mode(<%=temp%>,0)">
          <span class='<%if(students[temp].permission[0]=="A"){%>slider1
            <%}else{%>slider
            <%}%> round'></span>
        </label>
      </td>
      <td class="text-center">
        <label class="switch">
          <input type="checkbox" id="Assistantid<%=temp%>" data-id="<%=user._id%>" onclick="mode(<%=temp%>,1)">
          <span class="<%if(students[temp].permission[1]=='A'){%>slider1
            <%}else{%>slider
            <%}%> round"></span>
        </label>
      </td>
      <td class="text-center">
        <label class="switch">
          <input type="checkbox" id="Assistantid<%=temp%>" data-id="<%=user._id%>" onclick="mode(<%=temp%>,2)">
          <span class="<%if(students[temp].permission[2]=='A'){%>slider1
            <%}else{%>slider
            <%}%> round"></span>
        </label>
      </td>
      <td class="text-center">
        <label class="switch">
          <input type="checkbox" id="Assistantid<%=temp%>" data-id="<%=user._id%>" onclick="mode(<%=temp%>,3)">
          <span class="<%if(students[temp].permission[3]=='A'){%>slider1
            <%}else{%>slider
            <%}%> round"></span>
        </label>
      </td>
    </tr>
    <%}%>
    <%temp++%>
    <%})%>
  </tbody>
</table>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script>
  //刪除助教
  function deleteAssistant() {
      var del = [];
      $("input[type=checkbox]:checked").each(function () {
          if($(this).val()!="on"){
            del.push($(this).val());
          }
      });
      console.log(del.length);
      console.log(del);
      if (del.length == 0) {
          alert('勾選助教後才能進行刪除');
      } else {
          result = window.confirm("你確定刪除這些助教嗎？");
          if (result == true) {
            window.location = "/class/deleteAssistant/" + del + "/unit/<%=classID%>"
          } else {}
      }

  }
</script>
<script>
  //加入助教
  function checkAssistant() {
    var c = [];
    $("input[type=checkbox]:checked").each(function () {
      c.push($(this).val());
    });
    result = window.confirm("你確定加入這些助教嗎？");
    if (result == true) {
      window.location = "/class/checkAssistant/" + c + "/unit/<%=classID%>"
    } else {}
  }
</script>
<script>
  //搜尋助教
  function myFunction() {
    // 声明变量
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
    // 循环所有列表，查找匹配项
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("span")[0];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  //助教權限設定
  function mode(temp, num) {
    switch (num) {
      case 0:
        var Assistantid = $('#Assistantid' + temp).data('id');
        $.ajax({
          type: "GET",
          url: "/class/setAssistant/" + Assistantid + "/unit/<%=classID%>/set/" + num + "",
          dataType: "text"
        })
        break;
      case 1:
        var Assistantid = $('#Assistantid' + temp).data('id');
        $.ajax({
          type: "GET",
          url: "/class/setAssistant/" + Assistantid + "/unit/<%=classID%>/set/" + num + "",
          dataType: "text"
        })
        break;
      case 2:
        var Assistantid = $('#Assistantid' + temp).data('id');
        $.ajax({
          type: "GET",
          url: "/class/setAssistant/" + Assistantid + "/unit/<%=classID%>/set/" + num + "",
          dataType: "text"
        })
        break;
      case 3:
        var Assistantid = $('#Assistantid' + temp).data('id');
        $.ajax({
          type: "GET",
          url: "/class/setAssistant/" + Assistantid + "/unit/<%=classID%>/set/" + num + "",
          dataType: "text"
        })
        break;
      default:
        window.confirm("網頁錯誤");
        break;
    }
  }
  //全選
  function check_all(obj,cName) {
    var checkboxs = document.getElementsByName(cName);
    for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
    if(obj.checked){
      document.getElementById("selectstatus").style = ""
    }else{
      document.getElementById("selectstatus").style = "opacity: 0.4;cursor: not-allowed;"
    }
  }
  function showdelbutton(){
    var unCheckedBoxs = [];
    var onCheckedBoxs = [];
    $("input[type=checkbox]").not("input:checked").each(function () {
        if($(this).val()!="on"){
          unCheckedBoxs.push($(this).val());
        }
    });
    if(unCheckedBoxs.length != 0){
        document.getElementById("allstatus").checked = false
    }else{
        document.getElementById("allstatus").checked = true
    }
    $("input[type=checkbox]:checked").each(function () {
        if($(this).val()!="on"){
          onCheckedBoxs.push($(this).val());
        }
    });
    if(onCheckedBoxs.length != 0){
        document.getElementById("selectstatus").style = ""
    }else{
        document.getElementById("selectstatus").style = "opacity: 0.4;cursor: not-allowed;"
    }
  }
  //dropdown狀態
  function allselect(cName){
    var checkboxs = document.getElementsByName(cName);
    for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = true}
    document.getElementById("allstatus").checked = true
    document.getElementById("selectstatus").style = ""
  }
  function allnotselect(cName){
    var checkboxs = document.getElementsByName(cName);
    for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = false}
    document.getElementById("allstatus").checked = false
    document.getElementById("selectstatus").style = "opacity: 0.4;cursor: not-allowed;"
  }
</script>

<% include layout/footer %>
