<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
    .banner a:hover{
      color:#DDD;
  }
  
  @media only screen and (max-width:400px){
    .hideInMobile{
      display: none;
    }
  }
</style>
<div>
    <span style="font-size:30px;">待審核名單</span>
    <button class="btn btn-primary btn-sm returnshow" style="float:right">返回課程名單</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th width="8.5%" style="padding:12px 0;position:relative;">
              <div class="row" style="display:flex;align-items:center;flex-wrap: nowrap;">
                <div style="position:absolute;left:5%;top:50%;transform: translate(-50%, -50%);">
                    <button class="btn btn-success btn-sm" onclick="check()">批准</button>
                </div>
                <div style="position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);">
                  <input type="checkbox" name="all" onclick="check_all(this,'c')" style="zoom: 2" id="allstatus">
                </div>
                <div class="dropdown" style="position:absolute;left:70%;top:50%;transform: translate(-50%, -50%);">
                  <button class="btn" style="padding:0px" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-angle-down" style="display:none;"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: 4rem;padding:0px">
                    <a class="dropdown-item" href="#" style="padding:0 10px" onclick="allselect('c')">全選</a>
                    <a class="dropdown-item" href="#" style="padding:0 10px" onclick="allnotselect('c')">全不選</a>
                  </div>
                </div>
              </div>
            </th>
            <th class="text-center" scope="col" width="10%">姓名</th>
            <th class="text-center hideInMobile" scope="col" width="17%">科系</th>
            <th class="text-center" scope="col" width="15%">學號</th>
            <th class="text-center hideInMobile" scope="col" width="15%">信箱</th>
            <th class="text-center hideInMobile" scope="col" width="30%">個人網頁</th>
        </tr>
    </thead>
    <tbody>
        <%temp = 0%>
        <%users.forEach(function(user){%>
        <%if(studentscheck[temp].permission =='00000'){%>
        <tr>
            <td class="text-center">
                <div class="text-danger" id="checkStudent<%=temp%>" style="padding:0px">
                    <input type="checkbox" value="<%=studentscheck[temp].studentID%>" style="zoom: 2" name="c" onclick="showselect()">
                </div>
            </td>
            <td class="text-center">
                <%=user.name%>
            </td>
            <td class="text-center hideInMobile">
                <%=user.department%>
            </td>
            <td class="text-center">
                <%=user.studentid%>
            </td>
            <td class="text-center hideInMobile">
                <a href="mailto:<%=user.email%>">電子信箱Email</a>
            </td>
            <td class="text-center hideInMobile">
                <a href="/class/<%=classID%>/showClassmateInfo/<%=user._id%>">個人網頁Personal WebPage</a>
            </td>
        </tr>
        <%}%>
        <%temp++%>
        <%})%>
    </tbody>
</table>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script>
    function check() {
        var c = [];
        $("input[type=checkbox]:checked").each(function () {
            if($(this).val()!="on"){
              c.push($(this).val());
            }
        });
        //console.log(c.length);
        if (c.length == 0) {
            alert('您沒有選取任何學生喔！');
        } else {
            result = window.confirm("你確定批准這些學生嗎？");
            if (result == true) {
              window.location = "/class/checkstudent/" + c + "/unit/<%=classID%>"
            } else {}
        }

    }
    //到學生清單
    $(document).ready(function () {
        $(".returnshow").click(function () {
            window.location = "/class/showStudentIn/<%=classID%>";
        })
    });
    //全選
    function check_all(obj,cName) {
      var checkboxs = document.getElementsByName(cName);
      for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
    }
    function showselect(){
      var unCheckedBoxs = [];
      $("input[type=checkbox]").not("input:checked").each(function () {
          if($(this).val()!="on"){
            unCheckedBoxs.push($(this).val());
          }
      });
      if(unCheckedBoxs.length != 0){
          document.getElementById("allstatus").checked = false
      }else{
          document.getElementById("allstatus").checked = true
      }
    }
    //dropdown狀態
    function allselect(cName){
      var checkboxs = document.getElementsByName(cName);
      for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = true}
      document.getElementById("allstatus").checked = true
    }
    function allnotselect(cName){
      var checkboxs = document.getElementsByName(cName);
      for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = false}
      document.getElementById("allstatus").checked = false
    }
</script>

<% include layout/footer %>
