<% include layout/header %>
<style>
    .banner a:hover{
      color:#DDD;
  }
</style>
<div>
    <span style="font-size:30px;">待審核名單</span>
    <button class="btn btn-primary btn-sm returnshow" style="float:right">返回課程名單</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    <button class="btn btn-success btn-sm" onclick="check()">批准</button>
                </center>
            </th>
            <th class="text-center" scope="col">姓名</th>
            <th class="text-center" scope="col">科系</th>
            <th class="text-center" scope="col">學號</th>
            <th class="text-center" scope="col">信箱</th>
            <th class="text-center" scope="col">個人網頁</th>
        </tr>
    </thead>
    <tbody>
        <%temp = 0%>
        <%users.forEach(function(user){%>
        <%if(studentscheck[temp].permission =='00000'){%>
        <tr>
            <td class="text-center" style="width:120px;">
                <div class="text-danger" id="checkStudent<%=temp%>" style="padding:8px">
                    <input type="checkbox" value="<%=studentscheck[temp].studentID%>">
                </div>
            </td>
            <td class="text-center">
                <%=user.name%>
            </td>
            <td class="text-center">
                <%=user.department%>
            </td>
            <td class="text-center">
                <%=user.studentid%>
            </td>
            <td class="text-center">
                <a href="mailto:<%=user.email%>">電子信箱Email</a>
            </td>
            <td class="text-center">
                <a href="/class/<%=classID%>/showClassmateInfo/<%=user._id%>">個人網頁Personal WebPage</a>
            </td>
        </tr>
        <%}%>
        <%temp++%>
        <%})%>
    </tbody>
</table>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script>
    function check() {
        var c = [];
        $("input[type=checkbox]:checked").each(function () {
            c.push($(this).val());
        });
        console.log(c.length);
        if (c.length == 0) {
            alert('您沒有選取任何學生喔！');
        } else {
            result = window.confirm("你確定批准這些學生嗎？");
            if (result == true) {
              window.location = "/class/checkstudent/" + c + "/unit/<%=classID%>"
            } else {}
        }

    }
</script>
<script>
    //到學生清單
    $(document).ready(function () {
        $(".returnshow").click(function () {
            window.location = "/class/showStudentIn/<%=classID%>";
        })
    });
</script>

<% include layout/footer %>
