<% include layout/header %>
<script src="/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
    .qution{
        margin-bottom: 2rem;
        padding: 20px;
        border-radius:20px;
        background-color:#ebede6;
        border: 1px solid rgb(194, 190, 190);
    }
    .fullWidthImgDiv{
        word-wrap: break-word;
    }
    .fullWidthImgDiv{
        display: block;
    }
    .fullWidthImgDiv img{
        width: 100%;
        height: auto;
    }

    .lds-facebook {
    position: relative;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 50%);
    display: none;
    }
    .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
    }
    @keyframes lds-facebook {
    0% {
    top: 6px;
    height: 51px;
    }
    50%, 100% {
    top: 19px;
    height: 26px;
    }
    }

</style>
<div class="lds-facebook" id ="loader"><div></div><div></div><div></div></div>
<%if(isSubmited){%>
<h4>測驗名稱:
    <%=test.testName%>(已提交過此測驗)
</h4>
<%}else{%>

<div class="row">
    <h4 class="col-lg-4 col-sm-12" style="line-height: 3rem">測驗名稱:
            <%=test.testName%>
    </h4>
    <p class="col-lg-4 col-sm-12" id = "ToppublicTime"  style="line-height: 3rem;text-align: center"></p>
    <div class="col-lg-4 col-sm-12">
        <%if(user._id == classinfo.teacher){%>
            <button class="btn btn-secondary " data-toggle="modal" style="float: right;margin-top: 0.5rem" data-target="#uploadTestModal" onclick="EditTest()">編輯測驗</button>
                <!-- Modal -->
                <div class="modal fade" id="uploadTestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" style="width: 70%;max-width: 70%;" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="TestORHomeWork">編輯測驗</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                            <div class="modal-body">
                              <div class="row pr-3" style="height:75vh">
                                      <div class="col-5 h-100">
                                            <div class="form-group row mb-0" style="height:7%">
                                                <label for="staticEmail" id="testName" class="col-sm-3 col-form-label">測驗名稱</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control"id="testNameinput" type="text" placeholder="請輸入測驗名稱">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0"style="height:7%">
                                                    <label for="staticEmail" class="col-sm-3 col-form-label">公開時間</label>
                                                    <div class="col-sm-9">
                                                        <input type="datetime-local" class="form-control" onchange="setEndTime(this)" id="publicTime">
                                                    </div>
                                            </div>
                                            <div class="form-group row mb-0"style="height:7%">
                                                    <label for="staticEmail" class="col-sm-3 col-form-label "  >結束時間</label>
                                                    <div class="col-sm-9">
                                                        <input type="datetime-local" class="form-control" id="EndpublicTime">
                                                    </div>
                                            </div>
                                            <div class="form-group row mb-0"style="height:7%">
                                                <label for="staticEmail" class="col-sm-3 col-form-label">題目類別</label>
                                                <div class="col-sm-9">
                                                    <select id="inputState" class="form-control" onchange="changeTypeOfQution(this)">
                                                        <option selected>選擇題</option>
                                                        <option>是非題</option>
                                                        <option>填空題</option>
                                                        <option>程式題</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control" style="height: 72%;overflow-y:scroll;border:1px solid #ccc;padding:1rem">
                                                <div id= "MCQ">
                                                    <%include layout/MCQ %>
                                                </div>
                                                <div id= "YNQ" style = "display:none">
                                                    <%include layout/YNQ %>
                                                </div>
                                                <div id= "FBQ" style = "display:none">
                                                    <%include layout/FBQ %>
                                                </div>
                                                <div id= "PGQ" style = "display:none">
                                                    <%include layout/PGQ %>
                                                </div>
                                            </div>
                                      </div>
                                      <div class="col-7 h-100" style = "background:rgba(239, 235, 247, 1);overflow-y:scroll" id = "QuationList">
                                      </div>
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <input type="checkbox" class="btn btn-primary ml-2" id="publishScoreNow">測驗結束立刻公佈成績</input>
                                <input type="checkbox" class="btn btn-primary ml-2"id = "canCheckQuestionAndAnswer" >學生可查看題目與答案</input>
                                <button type="button" class="btn btn-primary" onclick="saveQutionList()">儲存題目</button>
                            </div>
                        </div>
                    </div>
                </div>
        <%}%>
    </div>
</div>
<%}%>
<hr>
<script>
    let hiddenQution;
    let qutionContent;
</script>
<div class="col-md-12" id="questionList" style="style:<%if(test.isPublic == false){%>none<%}%> ">
    <%let i = 0%>
    <%test.testQutions.forEach(function(qution){%>
    <%i++%>
    <div class="qution" id="qution<%=i%>">
        <%if(qution.type=='選擇題'){%>
        <p style="font-size: 20px">題目:</p>
        <pre style="font-size: 20px"><%=qution.qutionName%> （選擇題）</pre>
        <div>
            <div class="row">
                <%let MCQindex = 0%>
                <%qution.selection.forEach(function(selection){%>
                  <div class="col-12"><input class="radioClick" onclick="onAnswer('MCQ','<%=i%>','<%=MCQindex%>')" type="radio">
                      <%=selection%>
                  </div>
                <%MCQindex+=1%>
                <%})%>
            </div>
            <br />
            <p>(配分:<%=qution.score%>)</p>
        </div>
        <%}%>
        <%if(qution.type=='是非題'){%>
        <p style="font-size: 20px">題目:</p>
        <pre style="font-size: 20px"><%=qution.qutionName%> （是非題）</pre>
        <div>
            <div class="row">
                <div class="col-2"><input class="radioClick" name="textmode<%=i%>" onclick="onAnswer('YNQ','<%=i%>','yes')" type="radio"> 是</div>
                <div class="col-2"><input class="radioClick" name="textmode<%=i%>" onclick="onAnswer('YNQ','<%=i%>','no')" type="radio"> 否</div>
            </div>
            <br />
            <p>(配分:<%=qution.score%>)</p>
        </div>
        <%}%>
        <%if(qution.type=='填空題'){%>
        <p style="font-size: 20px">題目:</p>
        <pre style="font-size: 20px"><%=qution.qutionName%> （填空題）</pre>
        <div>
            <div class="form-group row">
                <div class="col">
                    <label for="inputEmail3" class=" col-form-label">請輸入答案:</label>
                    <input type="text" id='FBQanswer<%=i%>' class="form-control" onkeyup="onAnswer('FBQ','<%=i%>','null')">
                </div>
            </div>
            <p>(配分:
                <%=qution.score%>)</p>
        </div>
        <%}%>
        <%if(qution.type=='程式題'){%>
        <p style="font-size: 20px">題目:</p>
        <pre style="font-size: 20px"><%=qution.qutionName%> （程式題）</pre>
        <div>
            <p id = "hiddenQution<%=i%>" style="display: none"><%=qution.qution%></p>
            <div id="qutionContent<%=i%>">題目內容:</div>
            <div class="row">
                <div class="col ">
                    <pre>輸入範例：
<%=qution.inputExample%>
                    </pre>
                </div>
                <div class="col ">
                    <pre>輸出範例：
<%=qution.outputExample%>
                    </pre>
                </div>
            </div>
            <div class="row" style="height: 20rem">
                <div class="col">
                    <div class="md-form">
                        <textarea class="md-textarea form-control" style="height: 70%;" onclick="setCanTab(this)" id="code<%=i%>"></textarea>
                    </div>
                    <div class="md-form">
                        <textarea class="md-textarea form-control" onclick="setCanTab(this)" style="height: 20%;" id="input<%=i%>"></textarea>
                    </div>
                    <select id="language<%=i%>" class="mt-1">
                        <option value="cpp">c++</option>
                        <option value="c">c</option>
                        <option value="javascript">javascript</option>
                        <option value="python3">python</option>
                    </select>
                </div>
                <div class="col">
                    <div class="md-form">
                        <div class="md-textarea form-control" style="height: 90%;">
                            <pre id="output<%=i%>"></pre>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-1 float-right" onclick="onAnswer('PGQ','<%=i%>','null');compile(<%=i%>);">編譯</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>(配分:<%=qution.score%>)
                    </p>
                </div>
            </div>
        </div>
        <script>
            hiddenQution = document.getElementById('hiddenQution<%=i%>').innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;nbsp;/g, '');
            qutionContent = document.getElementById('qutionContent<%=i%>');
            qutionContent.className = "fullWidthImgDiv";
            console.log(hiddenQution);
            qutionContent.innerHTML = hiddenQution
        </script>
        <%}%>
    </div>
    <%})%>
    <%if(user.permission == 'student'){%>
    <%if(isSubmited == false){%>
    <button class="btn btn-primary float-right"id="finishTestBtn" onclick="document.getElementById('finishTestBtn').disabled = true;finishTest()">送出</button>
    <%}%>
    <%}%>
</div>
</div>

<div class="modal" id="fullScreenModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">打開全螢幕</h5>
        </div>
        <div class="modal-body">
            <p>請打開全螢幕以開始作答</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="openFullScreen()">打開</button>
        </div>
        </div>
    </div>
</div>
<!-- 把出考卷的程式碼分出來放在setTest -->
<script src="/js/setTest.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script>

    Date.prototype.addHours = function(h) {
        this.setTime(this.getTime() + (h*60*60*1000));
        return this;
    }

    let answerArray = [];
    $('input[type=radio]').click(function(){
        if (this.previous) {
            this.checked = false;
        }
        this.previous = this.checked;
    });
    let onAnswer = function (qutionType, qutionNumber, answer) {
        //console.log(qutionType,answer,qutionNumber);
        // console.log(qutionType + ' ' + answer + ' ' + qutionNumber);
        if (qutionType == 'MCQ') {
            //console.log(qutionNumber);
            if(answerArray[qutionNumber-1]==undefined){
                answerArray[qutionNumber-1] = {studentAnswer:[],isCorrect:""}
                answerArray[qutionNumber-1].studentAnswer[answer]="1"
            }else{
                if(answerArray[qutionNumber-1].studentAnswer[answer]==="1"){
                    answerArray[qutionNumber-1].studentAnswer[answer]="0";
                }else{
                    answerArray[qutionNumber-1].studentAnswer[answer]="1";
                }
            }
        }
        if (qutionType == 'YNQ') {
            if(answerArray[qutionNumber-1]==undefined){
                answerArray[qutionNumber-1] = {studentAnswer:"",isCorrect:""}
                answerArray[qutionNumber-1].studentAnswer=answer
            }else{
                answerArray[qutionNumber-1].studentAnswer=answer
            }
        }
        if (qutionType == 'FBQ') {
            let answerText = document.getElementById('FBQanswer' + qutionNumber).value;
            if (answerArray[qutionNumber - 1] == undefined) {
                answerArray[qutionNumber - 1] = { studentAnswer: "", isCorrect: "" }
                answerArray[qutionNumber - 1].studentAnswer = answerText
            } else {
                answerArray[qutionNumber - 1].studentAnswer = answerText
            }
        }
        if (qutionType == 'PGQ') {
            let code = document.getElementById('code' + qutionNumber).value;
            let language = document.getElementById('language' + qutionNumber).value;
            if (answerArray[qutionNumber - 1] == undefined) {
                answerArray[qutionNumber - 1] = { studentAnswer: "", language: "", isCorrect: "" }
                answerArray[qutionNumber - 1].studentAnswer = code
                answerArray[qutionNumber - 1].language = language
            } else {
                answerArray[qutionNumber - 1].studentAnswer = code;
                answerArray[qutionNumber - 1].language = language
            }
        }
        //console.log(answerArray);
    }
    let compile = function (qutionNumber) {
        //console.log(qutionNumber);
        let script = document.getElementById('code' + qutionNumber);
        let input = document.getElementById('input' + qutionNumber);
        let language = document.getElementById('language' + qutionNumber);
        let output = document.getElementById('output' + qutionNumber);
        var scriptData = {
            input: input.value,
            script: script.value,
            language: language.value,
            id: "001"
        }
        var socket = io();
        socket.emit('script', scriptData);
        output.innerHTML = "編譯中....\n";
        socket.on('answer', function (obj) {
            //console.log(obj);
            output.innerHTML = "輸出:\n" + obj.body.output;
            //記錄到答案中
            // onAnswer('PGQ', {
            //     scriptData: scriptData,
            //     output: obj.body.output
            // }, qutionNumber);
        });
        //為了讓textarea - script 按下tab的時候不會自己切去另一個textarea
        script.onkeydown = function (e) {
            if (e.keyCode == 9) {
                insertAtCursor('    ');
                return false;
            }
        }
    }
    let setCanTab = function (script) {
        script.onkeydown = function (e) {
            if (e.keyCode == 9) {
                insertAtCursor2('    ', script);
                return false;
            }
        }
    }
    function insertAtCursor2(myValue, field) {
        myField = field;
        //IE support
        if (document.selection) {
            myField.focus();
            sel = document.selection.createRange();
            sel.text = myValue;
        }
        //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
            var startPos = myField.selectionStart;
            var endPos = myField.selectionEnd;
            myField.value = myField.value.substring(0, startPos) +
                myValue +
                myField.value.substring(endPos, myField.value.length);
            myField.selectionStart = startPos + myValue.length;
            myField.selectionEnd = startPos + myValue.length;
        } else {
            myField.value += myValue;
        }
    }

    //用來判斷離開全螢幕的原因看是否是因為繳交考卷所以才離開全螢幕
    let isBecauseSubmitSoLeftFullScreen = false;

    let finishTest = function () {
        isBecauseSubmitSoLeftFullScreen = true;
        if(confirm("確定要送出嗎?")){
            SubmitTest();
        }
    }

    let pgqNumber = 0;
    let isHavePGQ = false;
    function SubmitTest(){
        document.getElementById("loader").style.display = "inline-block";
        console.log("isBecauseNotFocusAtTestPageSoLeftFullScreen = "+isBecauseNotFocusAtTestPageSoLeftFullScreen);
        console.log("isBecauseSubmitSoLeftFullScreen = "+isBecauseSubmitSoLeftFullScreen)
        let qutions = <%- JSON.stringify(test) %>
        for (let i = 0; i < qutions.testQutions.length; i++) {
            //console.log(answerArray[i])
            if(qutions.testQutions[i].type=="程式題"){
                isHavePGQ = true;
                pgqNumber++;
                if(typeof answerArray[i] === 'undefined'){
                    qutions.testQutions[i].studentAnswer = ""
                    qutions.testQutions[i].language = "cpp"
                    qutions.testQutions[i].isCorrect = ""
                }else{
                    qutions.testQutions[i].studentAnswer = answerArray[i].studentAnswer
                    qutions.testQutions[i].language = answerArray[i].language
                    qutions.testQutions[i].isCorrect = answerArray[i].isCorrect
                }
            }else if(qutions.testQutions[i].type=="填空題"){
                if(typeof answerArray[i] === 'undefined'){
                    qutions.testQutions[i].studentAnswer = null
                    qutions.testQutions[i].isCorrect = false
                }else{
                    qutions.testQutions[i].studentAnswer = answerArray[i].studentAnswer
                    qutions.testQutions[i].isCorrect = answerArray[i].isCorrect
                }
            }else{
                //console.log(answerArray[i]);

                if(typeof answerArray[i] === 'undefined'){
                    qutions.testQutions[i].studentAnswer = -1
                    qutions.testQutions[i].isCorrect = false
                }else{
                    qutions.testQutions[i].studentAnswer = answerArray[i].studentAnswer
                    qutions.testQutions[i].isCorrect = answerArray[i].isCorrect
                }
            }
        }
        qutions.writer = "<%=user._id%>"
        //改測驗
        for(let i=0;i<qutions.testQutions.length;i++){
            let qution = qutions.testQutions[i]
            if (qution.type == '選擇題') {
                let studentAnswers = [];
                for(let j = 0;j<qution.selection.length;j++){
                    //console.log("j = "+qution.studentAnswer[j]);
                    //console.log(qution.studentAnswer);

                    if(qution.studentAnswer[j]=="1"){
                        studentAnswers.push(qution.selection[j]);
                    }
                }
                //console.log(studentAnswers);
                let isCorrect = true;
                if(studentAnswers.length!=qution.correctAnswers.length){
                    isCorrect=false;
                }
                for(let i =0;i<qution.correctAnswers.length;i++){
                    if(studentAnswers.indexOf(qution.correctAnswers[i])===-1){
                        isCorrect=false;
                    }
                }
                qution.isCorrect = isCorrect
            }
            if (qution.type == '是非題') {
                let isCorrect = true;
                if(qution.studentAnswer!=qution.correctAnswers){
                    isCorrect=false;
                }
                qution.isCorrect = isCorrect
            }
            if (qution.type == '填空題') {
                let isCorrect = false;
                for(let i = 0;i<qution.correctAnswers.length;i++){
                    if(qution.studentAnswer == qution.correctAnswers[i]){
                    isCorrect = true;
                    }
                }
                qution.isCorrect = isCorrect
            }
            if (qution.type == '程式題') {
                let isCorrect = false;
                var testverification = {
                    input: qution.intputTest,
                    script: qution.studentAnswer,
                    language: qution.language,
                    id: "001"
                }
                //console.log("testverification = -------");
                //console.log(testverification);

                var socket = io();
                socket.emit('script', testverification);
                socket.on('answer', function (obj) {
                    //console.log(obj);
                    pgqNumber--;
                    //console.log(obj.body.output);
                    //console.log(qution.language);
                    if(typeof obj.body.output === 'undefined' || obj.body.output === null){

                    }else{
                        obj.body.output = obj.body.output.substring(0,obj.body.output.length-1)
                    }
                    if(obj.body.output == qution.outputTest){
                        isCorrect = true
                        qution.isCorrect = isCorrect
                    }else{
                        qution.isCorrect = isCorrect
                    }
                    if(pgqNumber == 0 ){
                      answermodifyend(qutions)
                    }
                });
            }
            if(i==qutions.testQutions.length-1 && isHavePGQ == false){
              answermodifyend(qutions)
            }

        }

    }

    var delay = function(s){
        return new Promise(function(resolve,reject){
        //console.log("3s");
        setTimeout(resolve,s);
        });
    };

    //判斷下面的answermodifyend事不是第一次被呼叫
    let canSendTestResult = true;
    let answermodifyend = function(qutions){
        if(canSendTestResult){
            canSendTestResult = false;

            let obtainscore = 0
            //console.log(qutions);
            for(let i=0;i < qutions.testQutions.length;i++){
                if(qutions.testQutions[i].isCorrect == true){
                    obtainscore += Number(qutions.testQutions[i].score);
                }
            }
            //console.log(obtainscore);
            qutions.obtainscore = obtainscore
            console.log(qutions);
            $.ajax({
                url: '/SDC/submitTest',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(qutions),
                dataType: 'json',
                error: function (xhr) {
                    alert('發生錯誤');
                },
                success: function (response) {
                    document.getElementById("loader").style.display = "none";
                    alert('填寫測驗成功');
                    location.replace("/class/newClassManager/<%=classinfo._id%>")
                    //window.location = "/class/newClassManager/<%=classinfo._id%>"
                }
            })
        }
    }
    let Test = <%- JSON.stringify(test) %>;
    let user = <%- JSON.stringify(user) %>;
    let classinfo = <%- JSON.stringify(classinfo)%>;
    if(user._id == classinfo.teacher){
        //console.log("isTeacher");
        let questionList = document.getElementById('questionList');
        let today = new Date().toLocaleString('zh-TW', {timeZone: 'Asia/Taipei'});
        //console.log("today = ",today);
        let split = today.split(" ");
        let ymd = split[0];
        let hm = split[1];
        //console.log("hm = ",hm);
        ymd = ymd.split("/");
        //console.log("ymd = ",ymd);
        let yyyy = ymd[0];
        let mm = ymd[1];
        if(parseInt(mm)<10){
            mm = "0"+mm
        }
        let dd = ymd[2];
        if(parseInt(dd)<10){
            dd = "0"+dd
        }
        //console.log("yyyy = ",yyyy," mm = ",mm," dd = ",dd);
        //console.log("hm = ",hm);
        let hh = "";
        let minute = "";
        if(hm.indexOf("上午")!=-1){
            hm = hm.split(":");
            hh = hm[0].replace("上午","");
            if(parseInt(hh)<10){
                hh = "0"+hh
            }
            minute = hm[1];
            if(parseInt(minute)<10){
                minute = "0"+minute
            }
        }else if(hm.indexOf("下午")!=-1){
            hm = hm.split(":");
            hh = hm[0].replace("下午","");
            if(parseInt(hh)<10){
                hh = "0"+hh
            }
            minute = hm[1];
            minute = hm[1];
            if(parseInt(minute)<10){
                minute = "0"+minute
            }
        }
        today = yyyy+'-'+mm+'-'+dd+"T"+hh+":"+minute;
        let originalPublicTime = Test.publicTime.substring(0,16);
        let originalEndPublicTime = Test.EndpublicTime.substring(0,16);
        console.log(originalPublicTime);
        console.log(originalEndPublicTime);
        document.getElementById("publicTime").setAttribute("min",originalPublicTime);
        document.getElementById("publicTime").value = originalPublicTime
        document.getElementById("EndpublicTime").setAttribute("min",originalEndPublicTime)
        document.getElementById("EndpublicTime").value = originalEndPublicTime
    }
    let EditTest = function(){
        //console.log(Test)
        let testNameinput = document.getElementById('testNameinput');
        let publishScoreNow = document.getElementById('publishScoreNow');
        let canCheckQuestionAndAnswer = document.getElementById('canCheckQuestionAndAnswer');
        if(Test.publishScoreNow == true){
            publishScoreNow.checked = true;
        }
        if(Test.canCheckQuestionAndAnswer == true){
            canCheckQuestionAndAnswer.checked = true;
        }
        testNameinput.value = Test.testName
        QuationList = Test.testQutions;
        updateQutionList();
    }
    //當使用者選擇發佈時間時 要將結束時間設定成發佈時間之後
    let setEndTime = function(startTime){
            //console.log(startTime.value);
            document.getElementById("EndpublicTime").setAttribute("min",startTime.value)
            document.getElementById("EndpublicTime").value = startTime.value
    }
    let isBecauseNotFocusAtTestPageSoLeftFullScreen = false;
    window.onload = function(){
        if(Test.isPublic){
            //彈出要求進入全應募的視窗
            if("<%=user.permission%>" == "student"){
                if("<%=isSubmited%>" == "false"){
                    $("#fullScreenModal").modal({
                        backdrop: 'static',
                        keyboard: false
                        }
                    )
                }
            }
            //定時檢測是否有在考試頁面上
            if("<%=isSubmited%>" == "false"){
                let checkIsFocus = setInterval(function(){
                    if(canSendTestResult){
                        if(document.hasFocus() != true){
                            clearInterval(checkIsFocus);
                            SubmitTest();
                            isBecauseNotFocusAtTestPageSoLeftFullScreen = true
                            alert("由於你離開了全螢幕模式,有作弊的嫌疑,所以你的考卷將直接被提交！");
                        }
                    }
                },500)
            }
        }

        // console.log(Test.publicTime);
        // console.log(new Date(Test.publicTime).addHours(-8));
        // console.log(Test.EndpublicTime);
        // console.log(new Date(Test.EndpublicTime).addHours(-8));
        // console.log(new Date()-new Date(Test.EndpublicTime).addHours(-8));

        if(Test.isPublic==false && "<%=user.permission%>" == "student"){
            let nowTime = new Date();
            console.log(nowTime);

            let endTime = new Date(Test.EndpublicTime).addHours(-8);
            console.log("endTime = ",endTime);

            console.log(endTime-nowTime);
            if((endTime-nowTime)/1000>0){
                //console.log("ispublic")
                let ispublic = countTime("beforePublic");
                let publicTimeCounter = setInterval(function(){
                    if(ispublic == true ){
                        clearInterval(publicTimeCounter)
                    }else{
                        ispublic = countTime("beforePublic");
                    }
                },1000)
            }else{
                countTime("END")
            }
        }else{
            if(Test.isPublic==true){
                let isEnd = countTime("onpublic");
                let publicTimeCounter = setInterval(function(){
                    if(isEnd == true){
                        clearInterval(publicTimeCounter)
                        //console.log("asd");
                        $.ajax({
                            url: '/class/EndpublicTest/'+Test._id,
                            type: 'POST',
                            success: function (response) {
                                //console.log(response);
                                window.location = "/class/showTest/"+Test._id;
                            },
                            error: function (err) {
                                alert('錯誤訊息：' + err.responseJSON.msg);
                            }
                        });
                    }else{
                        isEnd = countTime("onpublic");
                    }
                },1000)
            }
        }
    }
    let countTime = function(state){
        if(state == "beforePublic"){
            if(user.permission == "student"){
                questionList.style.cssText="display:none";
            }
            //console.log("beforePublic");
            let nowTime = new Date();
            let publicTimeText = document.getElementById('ToppublicTime');
            let publicTime = new Date(Test.publicTime).addHours(-8);
            let totoalSec = (publicTime-nowTime)/1000;
            let hr =  Math.floor(totoalSec/3600);
            totoalSec = Math.floor(totoalSec % 3600);
            let mm = Math.floor(totoalSec/60);
            totoalSec = Math.floor(totoalSec%60);
            let ss = Math.floor(totoalSec);
            publicTimeText.innerHTML = "距離開放時間還剩下："+ hr +"小時 "+ mm + "分鐘 "+ss+"秒 "
            if(totoalSec<0){
                publicTimeText.innerHTML = "時間計算中..."
                if(Test.isPublic==false){
                    $.ajax({
                        url: '/class/publicTest/'+Test._id,
                        type: 'POST',
                        success: function (response) {
                            //console.log(response);
                            window.location = "/class/showTest/"+Test._id;
                        },
                        error: function (err) {
                            alert('錯誤訊息：' + err.responseJSON.msg);
                        }
                    });
                }
                return true;
            }else{
                return false;
            }
        }
        if(state == "onpublic"){
            //console.log("onpublic");
            if(user.permission == "student"){
                questionList.style.cssText="display:block";
            }
            let publicTimeText = document.getElementById('ToppublicTime');
            let nowTime = new Date();
            let endTime = new Date(Test.EndpublicTime).addHours(-8);
            let totoalSec = (endTime-nowTime)/1000;
            let hr =  Math.floor(totoalSec/3600);
            totoalSec = Math.floor(totoalSec % 3600);
            let mm = Math.floor(totoalSec/60);
            totoalSec = Math.floor(totoalSec%60);
            let ss = Math.floor(totoalSec);
            publicTimeText.innerHTML = "距離結束時間還剩下："+ hr +"小時 "+ mm + "分鐘 "+ss+"秒 "
            if(totoalSec<0){
                //console.log("isEND");
                publicTimeText.innerHTML = "時間計算中..."
                return true;
            }else{
                return false;
            }
        }
        if(state == "END"){
            if(user.permission == "student"){
                questionList.style.cssText="display:none";
            }
            let publicTimeText = document.getElementById('ToppublicTime');
            publicTimeText.innerHTML = "測驗開放時間已結束"
        }
    }
    let publicTest = function(){
        //console.log('/class/publicTest/'+Test._id);
        $.ajax({
            url: '/class/publicTest/'+Test._id,
            type: 'POST',
            success: function (response) {
                //console.log(response);
                alert('開放成功');
                window.location = "/class/showTest/"+Test._id;
            },
            error: function (err) {
                alert('錯誤訊息：' + err.responseJSON.msg);
            }
        });
    }

    function openFullScreen(){
        $("#fullScreenModal").modal("hide")
        let container = document.getElementsByClassName("container")[0];
        container.style.cssText =  "background:white;overflow:scroll !important;"
        requestFullscreen(container);
    }

    function requestFullscreen(element) {
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullScreen) {
            element.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
        }
    }

    document.onkeydown = function(theEvent) {
        if (theEvent != null) {
                event = theEvent;
        }
        if (event.keyCode >= 112 && event.keyCode <= 123) {
            try {
                // Firefox 會丟 Exception，所以用 try-cache 擋住
                event.keyCode = 0; 
            } catch(e){}
            return false;
        }
    }
</script>

<% include layout/footer %>
