<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
<script src="/ckeditor/ckeditor.js"></script>
<style>
    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(230, 65, 54);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: rgb(230, 65, 54);
    cursor: pointer;
  }
  .replyInput{
        height: 100%;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .replyInput:focus{
        outline: none;
        border-bottom: 2px solid black;
        animation-name: showCommentField;
        animation-duration: 0.7s;
    }
    .p2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem
    }
    .bottom-nav{
        z-index: 3;
    }
    .note:hover{
        z-index: 0;
    }

   /* spinner */
   .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #4b545a;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        z-index: 999;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
   /* spinner */
   .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        right: 3rem;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    @keyframes showCommentField {
        from {border-bottom: 2px solid rgb(211, 206, 206);}
        to {border-bottom: 2px solid black;}
    }
</style>
<a href="/class/newClassManager/<%=classinfo._id%>"><i class="fas fa-arrow-left" style="padding:1rem 0;color:rgb(180, 211, 172)"> 回課程單元頁面</i></a>
<h3>
    <%=video.videoName%>
</h3>
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div id="video">
            <div id="player" class="w-100">
            </div>
            <div id="myplayer">
                <div id="progress">
                    <input type="range" id="slider" value="0" class="slider" style="width: 100%;">
                </div>
                <div id="controler" style="padding: 2px 10px;background: rgba(0,0,0,0.8)">
                    <i class="fas fa-play mr-2" style="color: white;" id="PlayPauseBtn" onclick="controlVideo(this)"></i>
                    <p class="mr-2" style="color:white;display:inline-block;width: 5rem;margin: 0" id="videoTime">00:00:00</p>
                    <i class="fas fa-volume-up mr-0" style="color: white;"></i>
                    <input type="range" id="volume" onchange="controlVideo(this)">
                    <div style="float: right;padding-top: 0.2rem">
                        <i class="fas fa-expand" style="color: white;" id="fullScreenBtn" onclick="playFullscreen();controlVideo(this)"></i>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div id="reply" class="bg-white mt-4">
            <h3 class="text-secondary">回覆</h3>
            <br>
            <div class="row" style="height: 50px">
                <div class="col-1">
                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-11">
                    <input type="text" id="replyInput" class="replyInput">
                </div>
            </div>
            <br>
            <div class="row" style="height: auto;display: none;" id="commentDiv">
                <div class="col">
                    <a class="btn btn-primary" style="float: right;color: white;" id="submitComment">留言</a>
                    <a class="btn " style="float: right;margin-right: 1em;border: 1px solid black;border-radius: 3px">取消</a>
                </div>
            </div>
            <br>
            <%comments.forEach(function(comment){%>
            <div class="row" style="margin-top: 20px;">
                <%if(comments.length == 0){%>
                <div class="col">
                    <h5 style="text-align: center">還沒有評論喔！快來留下你對這篇教材的想法吧～～</h5>
                </div>
                <%}else{%>

                <div class="col">
                    <li style="width: 100%;list-style: none;margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-1">
                                <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="col-11">
                                <div class="" style="display: flex;justify-content: space-between">
                                    <div style="display: flex">
                                        <%if(comment.userID == classinfo.teacher){%>
                                        <h5 style="margin-right: 10px;color: rgb(101, 119, 68)">
                                            <%=comment.userName%>老師回復：
                                        </h5>
                                        <%}else{%>
                                        <h5 style="margin-right: 10px;">
                                            <%=comment.userName%>
                                        </h5>
                                        <%}%>
                                        <p>
                                            <%=comment.commentTime%>
                                        </p>
                                    </div>
                                    <%if(comment.userID == user._id || user._id == classinfo.teacher){%>
                                    <div >
                                        <button type="button" class="close" onclick="deleteComment('<%=comment._id%>')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <%}%>                    
                                </div>
                                <div class="">
                                    <p style="width: 100%;word-wrap:break-word;padding-right: 5px;">
                                        <%=comment.body%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <%}%>
            </div>
            <%})%>

        </div>


    </div>
    <div class="col-lg-4 col-sm-12 pl-3">
        <%if(user.permission == "student"){%>
        <div style="border: 1px solid rgb(182, 182, 182);position: relative;" class="mb-2">
            <div class="loader" id="loader"></div>
            <div class="w-100 bg-light p-2" style="height: 3.6rem;position: absolute;top: 0px;border-bottom: 0.3pt rgb(201, 200, 200) solid">
                <input id="title" class="center text-center" disabled style="border: none; background: none;font-size: 22px"
                    value="筆記本"></input>
                <i id="penicon" class="fas fa-pen vertical-center" style="display: none"></i>
            </div>
            <div class="list-group p-2 " id="noteList" style="margin-top: 3.6rem;height: 28rem;overflow-y: scroll">

            </div>
            <div id="noteView" style="display: none">
                <textarea style="width: 100%;height: 100%;display: none;" id="note"></textarea>
            </div>
            <div class="bottom-nav">
                <div class="w-100 bg-dark" style="height: 3rem;position: absolute;bottom: 0px;display: flex;justify-content: center">
                </div>
                <img src="/img/addbtn.png" onclick="createNewNote()" style="height: 3rem;position: absolute;bottom: 0.7rem;left: 50%;margin-left: -1.5rem">
                <i class="fas fa-list fa-1x" onclick="showNoteList()" style="height: 3rem;color: white;position: absolute;bottom: -1rem;left: 25%;margin-left: -1.5rem"></i>
                <i class="fas fa-save fa-1x" onclick="saveNote()" style="height: 3rem;color: white;position: absolute;bottom: -1rem;left: 75%;margin-left: 1rem"></i>
            </div>
        </div>
        <%}%>
        <button class="form-control mb-2">單元內影片</button>
        <div id = "UnitVideo" style="width: 100%">

        </div>

    </div>
</div>
<script>
    let notes = <%- JSON.stringify(notes) %>
    let recommandVideo = <%- JSON.stringify(recommandVideo) %>;
    let videoinfo = <%- JSON.stringify(video) %>;
    let UnitVideo = document.getElementById('UnitVideo');
    for(let i = 0;i<recommandVideo.length;i++){
        if(recommandVideo[i]._id != videoinfo._id){
            UnitVideo.innerHTML+=`
            <p style="padding:0;font-size:20px;margin:0">${recommandVideo[i].videoName}</p>
            <div class="mb-2" style="height: ${UnitVideo.offsetWidth/16*9}; width: 100%;background:black;border:1px solid black" onclick="window.location = '/class/showVideo/${recommandVideo[i]._id}'">
                <img src="https://img.youtube.com/vi/${recommandVideo[i].videoURL}/mqdefault.jpg" style="width:100%;height:100%">
            </div>
            `
        }
    }
    

    notes.sort(function (a, b) {
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        let postTimeA = a.postTime.split(" ");
        let postTimeB = b.postTime.split(" ");
        ymdA = postTimeA[0].split("/");
        ymdA = ymdA[1] + "/" + ymdA[0] + "/" + ymdA[2];
        ymdB = postTimeB[0].split("/");
        ymdB = ymdB[1] + "/" + ymdB[0] + "/" + ymdB[2];
        console.log(ymdA, ymdB);

        return new Date(ymdA) - new Date(ymdB);
    });
    console.log(notes);




    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;

    function onYouTubeIframeAPIReady() {
        let width = document.getElementsByClassName('col-lg-8')[0].clientWidth * 0.96;
        let height = (document.getElementsByClassName('col-lg-8')[0].clientWidth * 9) / 16;
        console.log(width);
        console.log(height);
        player = new YT.Player('player', {
            height: height,
            width: width,
            videoId: '<%=video.videoURL%>',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': yt.onPlayerStateChange
            },
            playerVars: {
                autoplay: 0,
                controls: 0,
                disablekb: 1,
                modestbranding: 1,
                iv_load_policy: 3,
                modestbranding: 1,
                rel: 0,
                showinfo: 0,
                ecver: 2
                // 'controls': 1, //控制列，0:隱藏，1:顯示(默認)
                // 'fs': 0, //全屏按鈕，0:隱藏，1:顯示(默認)
                // 'iv_load_policy': 3, //影片註釋，1:顯示(默認)，3:不顯示
                // 'rel': 0, //顯示相關視頻，0:不顯示，1:顯示(默認)
                // 'modestbranding': 1, //YouTube標籤，0:顯示(默認)，1:不顯示    
                // 'playsinline': 1 //在iOS的播放器中全屏播放，0:全屏(默認)，1:內嵌
            }
        });
        console.log(document.getElementById('player'));
    }
    var yt = yt || {};
    let action = [];

    let vtime = 0;
    let nowtime = 0;
    let slider = document.getElementById('slider');

    yt = {
        onPlayerStateChange: function (event) {
            let play = "fas fa-play mr-2";
            let pause = "fas fa-pause mr-2";
            let PlayPauseBtn = document.getElementById('PlayPauseBtn');

            // console.log(event.data);
            if (event.data == 1) {
                console.log("播放"+Math.floor(slider.value));
                socket.emit('videoAction', {
                        type: 'play',
                        time: Math.floor(slider.value)
                });
                action.push("播放:" + parseInt(event.target.getCurrentTime()) / 60)
                //console.table(action);
                if (PlayPauseBtn.className == play) {
                    PlayPauseBtn.className = pause;
                }
            }
            if (event.data == 2) {
                console.log("暫停"+Math.floor(slider.value));
                action.push("暫停:" + parseInt(nowtime) / 60)
                //console.table(action);
                if (PlayPauseBtn.className == pause) {
                    PlayPauseBtn.className = play;
                }
                socket.emit('videoAction', {
                        type: 'pause',
                        time: Math.floor(slider.value)
                });
            }
        }
    }


    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        // event.target.playVideo();
        vtime = player.getDuration();
        slider.max = vtime;
        let volume = document.getElementById('volume');
        player.setVolume(volume.value)
        player.seekTo(0);
        //網頁打開紀錄
        socket.emit('videoAction', {
            type: 'open',
            watcherID: "<%=user._id%>",
            videoID: "<%=video._id%>",
            vtime: vtime
        });

    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;


    function stopVideo() {
        player.stopVideo();
    }

    //socket io
    var socket = io();

    window.onload = function () {

        $(window).resize(function () {
            console.log("asd");
            let width = document.getElementsByClassName('col-8')[0].clientWidth * 0.95;
            let height = (document.getElementsByClassName('col-8')[0].clientWidth * 9) / 16;
            player.setSize(width, height);
        });


        slider.onchange = function () { 
            console.log(slider.value);
            console.log(nowtime);
            
            let beginTime = nowtime;
            player.seekTo(slider.value);
            console.log("seek from:" + Math.floor(beginTime) + " to:" + Math.floor(slider.value));

            socket.emit('videoAction', {
                type: 'fastTurn',
                beginTime: Math.floor(beginTime),
                endTime: Math.floor(slider.value)
            });
            let play = "fas fa-play mr-2";
            let isplay = document.getElementById('PlayPauseBtn');

            // if (isplay.className != play) {
            //     socket.emit('videoAction', {
            //         type: 'play',
            //         time: Math.floor(slider.value)
            //     });
            // }

        }

        //留言
        let replyInput = document.getElementById('replyInput');
        let submitComment = document.getElementById('submitComment');
        if (replyInput.value == "") {
            submitComment.className += "btn btn-primary disabled"
        }
        replyInput.oninput = function () {
            if (replyInput.value == "") {
                submitComment.className += "btn btn-primary disabled"
            } else {
                submitComment.className = "btn btn-primary"
            }
        }
        replyInput.onfocus = function () {

            let commentDiv = document.getElementById('commentDiv');
            commentDiv.style.cssText = "display:block";
        }

        submitComment.onclick = function () {
            let replyInput = document.getElementById('replyInput');
            window.location = "/SDC/user/<%=user._id%>/comment/video/<%=video._id%>/body/" + replyInput.value;
        }


        $.ajax({
            url: '/users/note/getNote',
            type: 'GET',
            contentType: 'application/json',
            beforeSend: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "none"
            },
            success: function (response) {
                let noteList = document.getElementById('noteList');
                noteList.innerHTML = '';
                response.sort(function (a, b) {
                    // Turn your strings into dates, and then subtract them
                    // to get a value that is either negative, positive, or zero.
                    let postTimeA = a.postTime.split(" ");
                    let postTimeB = b.postTime.split(" ");
                    ymdA = postTimeA[0].split("/");
                    ymdA = ymdA[1] + "/" + ymdA[0] + "/" + ymdA[2];
                    ymdB = postTimeB[0].split("/");
                    ymdB = ymdB[1] + "/" + ymdB[0] + "/" + ymdB[2];
                    console.log(ymdA, ymdB);

                    return new Date(ymdA) - new Date(ymdB);
                });
                console.log(response);
                for (let i = 0; i < response.length; i++) {
                    let body = response[i].body.replace(/<(?:.|\n)*?>/gm, '');
                    noteList.innerHTML +=
                        `
                        <a onclick="showNote('${response[i]._id}')" class="list-group-item list-group-item-action mb-2 note">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    ${response[i].title}
                                </h5>
                                <small>
                                        ${response[i].postTime}</small>
                            </div>
                            <p class="mb-1 p2">
                                ${body}
                            </p>
                        </a>
                        `
                }

                noteList.innerHTML +=
                    `
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                    `
            },
            error: function (err) {
                alert('錯誤訊息：' + err);
            }
        });

        CKEDITOR.replace('note', {
            height: "21rem",
            filebrowserUploadUrl: '/uploader',
            //記得加下面那行  filebrowserUploadMethod: 'form'
            filebrowserUploadMethod: 'form',
            toolbar: [{
                    name: 'forms',
                    items: ['Checkbox']
                },
                {
                    name: 'basicstyles',
                    groups: ['basicstyles', 'cleanup'],
                    items: ['Bold', 'Italic', 'Underline']
                },
                {
                    name: 'paragraph',
                    groups: ['list', 'indent', 'blocks', 'align', 'bidi'],
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote',
                        'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight',
                        'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language'
                    ]
                },
                {
                    name: 'insert',
                    items: ['Image']
                },
                '/',
                {
                    name: 'styles',
                    items: ['Font', 'FontSize']
                },
                {
                    name: 'colors',
                    items: ['TextColor', 'BGColor']
                },
                {
                    name: 'tools',
                    items: ['Maximize']
                }
            ],
            on: {
                instanceReady: function (evt) {
                    let cke_Detail = document.getElementById('cke_note');
                    cke_Detail.style.cssText += "border:none"
                    let cke_1_top = document.getElementById('cke_1_top');
                    cke_1_top.style.cssText += "border:none"
                    $(function () {
                        cke_1_top.style.cssText = "margin-top:3.6rem"
                    });
                },
                focus:function(e){
                    let slider = document.getElementById('slider');
                    console.log("focus");
                    socket.emit('videoAction', {
                        type: 'note',
                        time: Math.floor(slider.value)
                });
                }
            },
        });

        
    }

    function controlVideo(e) {
        let play = "fas fa-play mr-2";
        let pause = "fas fa-pause mr-2";
        let fullscreen = "fas fa-expand";
        let PlayPauseBtn = document.getElementById('PlayPauseBtn');
        let fullscreenbtn = document.getElementById('fullscreenBtn');
        if (e.className == play) {
            PlayPauseBtn.className = pause;
            player.playVideo();
            // socket.emit('videoAction', {
            //     type: 'play',
            //     time: nowtime
            // });
        } else if (e.className == pause) {
            PlayPauseBtn.className = play;
            player.pauseVideo();
            // socket.emit('videoAction', {
            //     type: 'pause',
            //     time: nowtime
            // });
        } else if (e.className == fullscreen) {

        } else if (e.id = 'volume') {
            console.log(e.value);
            player.setVolume(e.value)
        }
    }



    //影片全螢幕時要做的事
    let isFullScreen = false;
    //當按下全螢幕按鈕 檢測室不是正在全螢幕
    function playFullscreen() {
        let video = document.getElementById('video');
        let myplayer = document.getElementById('myplayer');

        if (isFullScreen) { //是就讓取消全螢幕並調整控制條顯示方式
            myplayer.style.cssText = "";
            let iframe = document.getElementById('player');
            iframe.className = "w-100";
            closeFullscreen();
        } else if (!isFullScreen) { //不是是就讓畫面全螢幕並調整控制條顯示方式
            myplayer.style.cssText = "position:fixed;bottom:0px;width:100%";
            var requestFullScreen = video.requestFullScreen || video.mozRequestFullScreen || video.webkitRequestFullScreen;
            requestFullScreen.bind(video)();
            let iframe = document.getElementById('player');
            iframe.className = "w-100 h-100";
        }
        isFullScreen = !isFullScreen;
    }
    //關閉全螢幕函式
    function closeFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            /* Firefox */
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
            /* Chrome, Safari and Opera */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
            /* IE/Edge */
            document.msExitFullscreen();
        }
    }
    //為了避免使用者用esc鍵離開全螢幕 而用下面的方式偵測全螢幕來調整控制條
    document.onwebkitfullscreenchange = function (e) {
        let video = document.getElementById('video');
        let myplayer = document.getElementById('myplayer');
        if (document.webkitIsFullScreen == false) {
            myplayer.style.cssText = "";
            let iframe = document.getElementById('player');
            iframe.className = "w-100";
        }
    }

    let watchtime = 0;
    let videoTime = document.getElementById('videoTime');
    setInterval(function () {
        watchtime++;
        nowtime = player.getCurrentTime();
        slider.value = nowtime;
        var hr = Math.floor(nowtime / 3600);
        var min = Math.floor((nowtime - (hr * 3600)) / 60);
        var sec = parseInt(nowtime - (hr * 3600) - (min * 60));
        if (hr < 10) {
            hr = '0' + hr
        }
        if (sec < 10) {
            sec = '0' + sec
        }
        if (min < 10) {
            min = '0' + min
        }
        //console.log(videoTime);

        videoTime.innerText = hr + ':' + min + ':' + sec
    }, 1000);


    createNewNote = function () {
        let note = {
            title: "無標題",
            body: ""
        }
        console.log(note);
        $.ajax({
            url: '/users/note/createNote',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(note),
            dataType: 'json',
            beforeSend: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "none"
            },
            success: function (response) {
                console.log(response);

                let noteList = document.getElementById('noteList');
                noteList.innerHTML = '';
                for (let i = 0; i < response.length; i++) {
                    let body = response[i].body.replace(/<(?:.|\n)*?>/gm, '');
                    noteList.innerHTML +=
                        `
                        <a onclick="showNote('${response[i]._id}')" class="list-group-item list-group-item-action mb-2 note">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    ${response[i].title}
                                </h5>
                                <small>
                                        ${response[i].postTime}</small>
                            </div>
                            <p class="mb-1 p2">
                                ${body}
                            </p>
                        </a>
                        `
                }
                noteList.innerHTML +=
                    `
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                    `
            },
            error: function (err) {
                alert('錯誤訊息：' + err);
            }
        });
    }


    let showNote = function (noteID) {
        console.log(noteID);
        let note = document.getElementById('noteView');
        note.style.cssText = "display:block"
        let noteList = document.getElementById('noteList');
        noteList.style.cssText = "display:none"

        console.log(document.getElementById('note'));
        CKEDITOR.instances.note.setData("");

        nowWrittingNote = noteID
        $.ajax({
            url: '/users/note/getSigleNote/' + noteID,
            type: 'GET',
            contentType: 'application/json',
            beforeSend: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "none"
            },
            success: function (response) {
                var text = response.body.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(
                    /&amp;nbsp;/g, '');
                CKEDITOR.instances.note.setData(text);
                let title = document.getElementById('title')
                title.value = response.title;
                title.disabled = false;
                let penicon = document.getElementById('penicon');
                penicon.style.cssText = "display:block";

            },
            error: function (err) {
                alert('錯誤訊息：' + err);
            }
        });

    }

    let showNoteList = function () {
        let note = document.getElementById('noteView');
        let title = document.getElementById('title');
        title.value = "筆記本"
        title.disabled = true
        console.log(note);
        note.style.cssText = "display:none"
        let noteList = document.getElementById('noteList');
        noteList.style.cssText = 'margin-top: 3.6rem;height: 28rem;overflow-y: scroll'
        noteList.innerHTML = ''
        let penicon = document.getElementById('penicon');
        penicon.style.cssText = "display:none";
        $.ajax({
            url: '/users/note/getNote',
            type: 'GET',
            contentType: 'application/json',
            beforeSend: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "block"
            },
            complete: function () {
                let loader = document.getElementById('loader');
                loader.style.display = "none"
            },
            success: function (response) {
                let noteList = document.getElementById('noteList');
                noteList.innerHTML = '';
                response.sort(function (a, b) {
                    // Turn your strings into dates, and then subtract them
                    // to get a value that is either negative, positive, or zero.
                    let postTimeA = a.postTime.split(" ");
                    let postTimeB = b.postTime.split(" ");
                    ymdA = postTimeA[0].split("/");
                    ymdA = ymdA[1] + "/" + ymdA[0] + "/" + ymdA[2];
                    ymdB = postTimeB[0].split("/");
                    ymdB = ymdB[1] + "/" + ymdB[0] + "/" + ymdB[2];
                    console.log(ymdA, ymdB);

                    return new Date(ymdA) - new Date(ymdB);
                });
                console.log(response);
                for (let i = 0; i < response.length; i++) {
                    let body = response[i].body.replace(/<(?:.|\n)*?>/gm, '');
                    noteList.innerHTML +=
                        `
                        <a onclick="showNote('${response[i]._id}')" class="list-group-item list-group-item-action mb-2 note">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    ${response[i].title}
                                </h5>
                                <small>
                                        ${response[i].postTime}</small>
                            </div>
                            <p class="mb-1 p2">
                                ${body}
                            </p>
                        </a>
                        `
                }
                noteList.innerHTML +=
                    `
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                        <a class="list-group-item list-group-item-action mb-2 note" style="background:none;border:none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    
                                </h5>
                                <small>
                                        
                                    </small>
                            </div>
                            <p class="mb-1 p2">
                               
                            </p>
                        </a>
                    `
            },
            error: function (err) {
                alert('錯誤訊息：' + err);
            }
        });
    }
    let saveNote = function () {
        console.log("nowWrittingNote = " + nowWrittingNote);

        if (nowWrittingNote != '') {
            note = {
                body: CKEDITOR.instances.note.getData(),
                title: document.getElementById('title').value
            }
            console.log(note);


            $.ajax({
                url: '/users/note/saveNote/' + nowWrittingNote,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(note),
                dataType: 'json',
                beforeSend: function () {
                    cansend = false
                    let loader = document.getElementById('loader');
                    loader.style.display = "block"
                },
                complete: function () {
                    let loader = document.getElementById('loader');
                    loader.style.display = "none"
                },
                success: function (response) {
                    alert('儲存成功');
                    cansend = true
                },
                error: function (err) {
                    alert('錯誤訊息：' + err);
                }
            });

        } else {
            alert('您還沒有選擇筆記');
        }
    }

    let deleteComment = function(commentID){
        console.log(commentID);
        if (window.confirm('您確定要刪除嗎？') == true) {
            window.location = "/SDC/deleteVideoComment/<%=video._id%>/"+commentID;
        } else {
        }
    }
    window.onunload = function () {
        socket.emit('videoAction', {
            type: 'close',
            time: Math.floor(slider.value),
            totalTime:watchtime
        });
    }
</script>
<% include layout/footer %>