<% include layout/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

<style>
    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(230, 65, 54);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: rgb(230, 65, 54);
    cursor: pointer;
  }
  .replyInput{
        height: 100%;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .replyInput:focus{
        outline: none;
        border-bottom: 2px solid black;
        animation-name: showCommentField;
        animation-duration: 0.7s;
    }
    @keyframes showCommentField {
        from {border-bottom: 2px solid rgb(211, 206, 206);}
        to {border-bottom: 2px solid black;}
    }
  </style>
<h3>
    <%=video.videoName%>
</h3>
<div class="row">
    <div class="col-8 ">

        <div id="player">
        </div>
        <div id="progress">
            <input type="range" id="slider" value="0" class="slider" style="width: 100%;">
        </div>
        <div id="controler" style="padding: 2px 10px;background: rgba(0,0,0,0.8)">
            <i class="fas fa-play mr-2" style="color: white;" id="PlayPauseBtn" onclick="controlVideo(this)"></i>
            <p class="mr-2" style="color:white;display:inline-block;width: 5rem;margin: 0" id="videoTime">00:00:00</p>
            <i class="fas fa-volume-up mr-0" style="color: white;"></i>
            <input type="range">
            <div style="float: right;padding-top: 0.2rem">
                <i class="fas fa-expand" style="color: white;" id="fullScreenBtn" onclick="playFullscreen()"></i>
            </div>
        </div>

        <hr>
        <h5>留言</h5>
        <div id="reply" class="bg-white mt-4" style="padding: 50px;">
            <h3 class="text-secondary">回覆</h3>
            <br>
            <div class="row" style="height: 50px">
                <div class="col-1">
                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-11">
                    <input type="text" id="replyInput" class="replyInput">
                </div>
            </div>
            <br>
            <div class="row" style="height: auto;display: none;" id="commentDiv">
                <div class="col">
                    <a class="btn btn-primary" style="float: right;color: white;" id="submitComment">留言</a>
                    <a class="btn " style="float: right;margin-right: 1em;border: 1px solid black;border-radius: 3px">取消</a>
                </div>
            </div>
            <br>
            <%comments.forEach(function(comment){%>
            <div class="row" style="margin-top: 20px;">
                <%if(comments.length == 0){%>
                <div class="col">
                    <h5 style="text-align: center">還沒有評論喔！快來留下你對這篇教材的想法吧～～</h5>
                </div>
                <%}else{%>

                <div class="col">
                    <li style="width: 100%;list-style: none;margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-1">
                                <img src="https://image.flaticon.com/icons/svg/265/265674.svg" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <%if(comment.userID == classinfo.teacher){%>
                                    <h5 style="margin-right: 10px;color: rgb(101, 119, 68)">
                                        <%=comment.userName%>老師回復：
                                    </h5>
                                    <%}else{%>
                                    <h5 style="margin-right: 10px;">
                                        <%=comment.userName%>
                                    </h5>
                                    <%}%>

                                    <p>
                                        <%=comment.commentTime%>
                                    </p>
                                </div>
                                <div class="row">
                                    <p style="width: 100%;word-wrap:break-word;padding-right: 5px;">
                                        <%=comment.body%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <%}%>
            </div>
            <%})%>

        </div>


    </div>
    <div class="col pl-4">
        <button class="form-control mb-2">單元內影片</button>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc">
        </div>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc"></div>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc"></div>
        <button class="form-control mb-2">相關影片</button>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc"></div>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc"></div>
        <div class="mb-2" style="height: 180px; width: 100%;background: #ccc"></div>

    </div>
</div>


<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;

    function onYouTubeIframeAPIReady() {
        let width = document.getElementsByClassName('col-8')[0].clientWidth * 0.96;
        let height = (document.getElementsByClassName('col-8')[0].clientWidth * 9) / 16;
        console.log(width);
        console.log(height);
        player = new YT.Player('player', {
            height: height,
            width: width,
            videoId: '<%=video.videoURL%>',
            events: {
                'onReady': onPlayerReady
            },
            playerVars: {
                autoplay: 0,
                controls: 0,
                disablekb: 1,
                modestbranding: 1,
                rel: 0,
                showinfo: 0
            }
        });
        console.log(document.getElementById('player'));
    }
    let vtime = 0;
    let nowtime = 0;
    let slider = document.getElementById('slider');

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        // event.target.playVideo();
        vtime = player.getDuration();
        slider.max = vtime;
        //網頁打開紀錄
        socket.emit('videoAction', {
            type: 'open',
            watcherID: "<%=user._id%>",
            videoID: "<%=video._id%>",
            vtime: vtime
        });
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;


    function stopVideo() {
        player.stopVideo();
    }

    //socket io
    var socket = io();

    window.onload = function () {

        $(window).resize(function () {
            console.log("asd");
            let width = document.getElementsByClassName('col-8')[0].clientWidth * 0.95;
            let height = (document.getElementsByClassName('col-8')[0].clientWidth * 9) / 16;
            player.setSize(width, height);
        });


        slider.onchange = function () {
            console.log(slider.value);
            let beginTime = nowtime;
            player.seekTo(slider.value);
            socket.emit('videoAction', {
                type: 'fastTurn',
                beginTime: beginTime,
                endTime: slider.value
            });
            let play = "fas fa-play mr-2";
            let isplay = document.getElementById('PlayPauseBtn');
            console.log(isplay);

            if (isplay.className != play) {
                socket.emit('videoAction', {
                    type: 'play',
                    time: nowtime
                });
            }

        }

        //留言
        let replyInput = document.getElementById('replyInput');
        let submitComment = document.getElementById('submitComment');
        if (replyInput.value == "") {
            submitComment.className += "btn btn-primary disabled"
        }
        replyInput.oninput = function () {
            if (replyInput.value == "") {
                submitComment.className += "btn btn-primary disabled"
            } else {
                submitComment.className = "btn btn-primary"
            }
        }
        replyInput.onfocus = function () {

            let commentDiv = document.getElementById('commentDiv');
            commentDiv.style.cssText = "display:block";
        }

        submitComment.onclick = function () {
            let replyInput = document.getElementById('replyInput');
            window.location = "/SDC/user/<%=user._id%>/comment/video/<%=video._id%>/body/" + replyInput.value;
        }

    }

    function controlVideo(e) {
        let play = "fas fa-play mr-2";
        let pause = "fas fa-pause mr-2";
        let fullscreen = "fas fa-expand";
        let PlayPauseBtn = document.getElementById('PlayPauseBtn');
        let fullscreenbtn = document.getElementById('fullscreenBtn');
        if (e.className == play) {
            PlayPauseBtn.className = pause;
            player.playVideo();
            socket.emit('videoAction', {
                type: 'play',
                time: nowtime
            });
        } else if (e.className == pause) {
            PlayPauseBtn.className = play;
            player.pauseVideo();
            socket.emit('videoAction', {
                type: 'pause',
                time: nowtime
            });
        } else if (e.className == fullscreen) {

        }
        console.log(e);
    }

    function playFullscreen() {
        let playerElement = document.getElementById('player');
        var requestFullScreen = playerElement.requestFullScreen || playerElement.mozRequestFullScreen || playerElement.webkitRequestFullScreen;
        requestFullScreen.bind(playerElement)();
    }
    let videoTime = document.getElementById('videoTime');
    setInterval(function () {
        nowtime = player.getCurrentTime();
        slider.value = nowtime;
        var hr = Math.floor(nowtime / 3600);
        var min = Math.floor((nowtime - (hr * 3600)) / 60);
        var sec = parseInt(nowtime - (hr * 3600) - (min * 60));
        if (hr < 10) {
            hr = '0' + hr
        }
        if (sec < 10) {
            sec = '0' + sec
        }
        if (min < 10) {
            min = '0' + min
        }
        console.log(videoTime);

        videoTime.innerText = hr + ':' + min + ':' + sec
    }, 1000);


    window.onunload = function () {
        socket.emit('videoAction', {
            type: 'close'
        });
    }
</script>
<% include layout/footer %>